[2014-07-30 03:36] kevina opened #1 "somebody's, everybody's not accepted by american dict"
**Reported by kevina on 2007-11-20 01:58 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/1/**
Orig From: http://sourceforge.net/tracker/index.php?func=detail&aid=1525789&group_id=245&atid=100245

Some words containing ' are not accepted by the
american dict,

somebody's
everybody's
one's

[2014-07-30 03:36] kevina opened #2 "Inconsistencies in English wordlists"
**Reported by kevina on 2007-11-20 02:04 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/2/**
Orig: [ 564321 ] Inconsistencies in English wordlists
From: Ed Avis - epaepa

A while ago I was working on a big list of
american/british/canadian spelling conversions (more comprehensive than varcon) and while trying
to automatically generate part of this list I found lots of inconsistencies

[2014-07-30 03:36] kevina opened #3 "English dict contains contains Joesph and Joesph's"
**Reported by kevina on 2007-11-20 02:12 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/3/**
Orig: \[ 883948 \] /usr/lib/aspell/english-med-only Error
From: Robert Uhl - eadmund
URL: http://sourceforge.net/tracker.php?aid=883948

/usr/lib/aspell/english-med-only contains Joesph and
Joesph's

[2014-07-30 03:36] kevina opened #4 ""offensive" missing from British english dictionary"
**Reported by kevina on 2007-11-20 02:18 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/4/**
Orig: [ 1114719 ] "offensive" missing from British english dictionary
URL:
From: Robin Green - greenrd

Please see
https://launchpad.net/distros/ubuntu/+source/aspell-en/+bug/18438

[2014-07-30 03:36] kevina opened #5 "en_CA should accept "ise" spellings"
**Reported by kevina on 2007-11-20 02:29 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/5/**
Orig: [ 1178662 ] en_CA should accept "ise" spellings
URL: http://sourceforge.net/support/tracker.php?aid=1178662
From: Martin Pitt - mpitt

In Canada, both "realise" and "realize" are accepted spellings. This applies to *many* other -ise words. Among the people I know, the-ise variants are e

[2014-07-30 03:36] kevina opened #6 "Ununtu instead of Ubuntu"
**Reported by nemethl on 2007-11-26 13:41 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/6/**
Hi Kevin,

First, thanks for your work. I have found this small bug in the Hunspell en_US dictionary.

Greets,
Laci

[2014-07-30 03:36] kevina opened #7 "Missing MySpell affixes"
**Reported by nemethl on 2007-11-26 13:50 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/7/**
There are a lot of missing affixed form compared with the old MySpell dictionary in the new Hunspell en_US, for example missing YS flags of abdominal (eg. "abdominally" is not recognized now). I believe, we need to limit only rare root words, not rare affixed forms (especially for long roots

[2014-07-30 03:36] kevina opened #8 "Word suggestions"
**Reported by rebelwebmaster on 2007-11-29 00:28 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/8/**
Here are a few words not in the current en_US dictionary which you may want to include:

https
Hunspell
MySpell
phisher
phishing
spammer
Ubuntu
uninstall
uninstalled
uninstaller
uninstalling
unsubscribe
webmistress

I'll leave it to you to decide which of these words you want to accep

[2014-07-30 03:36] kevina opened #9 ""a lot" isn't suggested as a replacement for "alot""
**Reported by rebelwebmaster on 2008-01-13 02:09 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/9/**
This was manually fixed in the Mozilla tree in bug 340634. It would be nice to get it fixed upstream as well.
https://bugzilla.mozilla.org/show_bug.cgi?id=340634

[2014-07-30 03:36] kevina opened #10 "Add "GHz""
**Reported by nemethl on 2008-01-30 12:50 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/10/**
A bug report from OpenOffice.org project: http://www.openoffice.org/issues/show_bug.cgi?id=75772

[2014-07-30 03:36] kevina opened #11 "en_US: include "dialogue" and derivatives"
**Reported by pfrields on 2008-01-31 19:38 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/11/**
This is an accepted US English spelling of the word meaning "conversation between two parties."

[2014-07-30 03:36] kevina opened #12 "en_US: include "barack" and "obama""
**Reported by mozpkim on 2008-07-11 00:03 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/12/**
For the US presidential candidate.

[2014-07-30 03:36] kevina opened #13 "English contractions.80"
**Reported by kevina on 2008-07-16 17:34 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/13/**
Date: Wed, 16 Jul 2008 18:20:20 +1000
From: John Pascoe &lt;awpascoe at bigpond net au&gt;
To: kevina@gnu.org
Subject: English contractions.80

In the abovementioned list the word "dog'sbane" occurs.

Definitely not a contraction.  Your software perhaps regards all mid-word apostrophes as co

[2014-07-30 03:36] kevina opened #14 "Remove 'underly'"
**Reported by milek_pl on 2008-11-26 15:53 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/14/**
The speller dictionary (included in SCOWL as english-words.95) contains 'underly' that is not any dictionary word, as far as I know (no other wordlist seems to contain it). Please remove - even if it is a word found in some dictionary, it must be substandard, so is not suitable for spell-c

[2014-07-30 03:36] kevina opened #15 "scowl/src/filter filters out words with "." in them"
**Reported by caolan on 2008-11-28 10:28 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/15/**
So while "e.g." and "i.e." appear in some input wordlists they can't appear in the output hunspell dicts

scowl/src/filter
e.g.
eg.

would output just
eg
removing the . from the end of eg. and removing the e.g. word totally

Is this intentional or an oversight ?

[2014-07-30 03:36] kevina opened #16 "Remove "severals""
**Reported by milek_pl on 2008-11-30 16:25 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/16/**
The "severals" from list english-words.80 and move to english-words.95. The word shouldn't be listed in aspell/hunspell dictionary, as it is now, as it's very rarely used and most of the time it's a misspelling. I have yet to find a dictionary that notes the use of "severals" as a noun.

[2014-07-30 03:36] kevina opened #17 "remove dessicated"
**Reported by nemethl on 2008-12-16 08:28 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/17/**
The bad word *dessicate was removed, but *dessicated not yet. Thanks, László

Source: http://lingucomponent.openoffice.org/issues/show_bug.cgi?id=63541

[2014-07-30 03:36] kevina opened #18 "Add "afterwards""
**Reported by rebelwebmaster on 2008-12-18 03:57 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/18/**
Not currently recognized. Per Merriam-Webster, it is a legitimate variant of afterward.
http://www.merriam-webster.com/dictionary/afterwards

[2014-07-30 03:36] kevina opened #19 "Can't build Revision: 89 "varcon.pm""
**Reported by caolan on 2009-01-14 11:45 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/19/**
I get
cd r/varcon; ./split
Can't locate varcon.pm in ...
in revision 89 from "use varcon qw(%map)"
is there a file missing in svn ?, or should that be satisfied by some dependency ?

[2014-07-30 03:36] kevina opened #20 "missing word: experimentalism"
**Reported by nemethl on 2009-01-28 14:55 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/20/**
Mozilla en_US dictionary misses this word.
Reported by Amir Elisha Aharoni.

[2014-07-30 03:36] kevina opened #21 "scowl/src/make-README missing"
**Reported by caolan on 2009-02-16 14:28 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/21/**
In current svn there's a scowl/Makefile target on README which depends on a make-README which doesn't seem to exist. Probably just not svn added

[2014-07-30 03:36] kevina opened #22 ""blog" and "blogging" are not in the aspell-en dictionary"
**Reported by crashsystems on 2009-04-02 01:42 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/22/**
What I expected to happen:
I expected that aspell would recognize "blog" and "blogging" as properly spelled US English words.

What happened instead:
Aspell said that the above mentioned words are not properly spelled.

Duplicating the bug:
crashsystems@crashsystems:~$ aspell -a
@(#) I

[2014-07-30 03:36] kevina opened #23 "missing words: "vertices" and "indices""
**Reported by snogglethorpe on 2009-04-10 04:53 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/23/**
The following words are not recognized by the "aspell-en" dictionary:n

"vertices" is a [very common] plural form of the word "vertex"

"indices" is a [very common] plural form of the word "index"

I'm using the "aspell" (version 0.60.6-1) and the "aspell-en" (6.0-0-5.1) packages in d

[2014-07-30 03:36] kevina opened #24 "add words 'Barack' and 'Obama'"
**Reported by sullis on 2009-04-23 18:43 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/24/**

I did not find 'Barack' or 'Obama' in any of the word lists in 12dicts version 5.0

[2014-07-30 03:36] kevina opened #25 "Add "blonde""
**Reported by jorend on 2009-04-24 13:00 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/25/**
See https://bugzilla.mozilla.org/show_bug.cgi?id=488881\#c9

[2014-07-30 03:36] kevina opened #26 "en-CA Technicolor is a trademark"
**Reported by miken32 on 2009-05-28 19:38 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/26/**
It should not be listed in the Canadian dictionary as Technicolour.

Just installed the en-CA dictionary for Firefox, which uses this word list. It's a great resource!

[2014-07-30 03:36] kevina opened #27 "British -ize errors (practice)"
**Reported by nicholascole on 2009-06-28 10:29 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/27/**
I have encountered the following errors in the  English dictionaries for aspell:

The -ize dictionary for British English marks the word "practice" as an error.

British English retains the difference between practice (noun) and practise (verb), even when using -ize spellings.  Authori

[2014-07-30 03:36] kevina opened #28 "word "reticle" missing"
**Reported by hcel on 2009-07-07 12:27 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/28/**
AKA a "Cross-Hair".

[2014-07-30 03:37] kevina opened #29 "Missing words."
**Reported by gtrentalancia on 2009-10-27 18:38 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/29/**
The following words (and their British "-ise" version) are missing from hunspell's English dictionary: "concretize", "concretization".

[2014-07-30 03:37] kevina opened #30 "Missing word"
**Reported by gtrentalancia on 2009-11-17 17:40 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/30/**
The following word is missing from hunspell's English dictionary: "mandatorily".

[2014-07-30 03:37] kevina opened #31 "Obscenity listed as replacement"
**Reported by jrstark on 2009-12-08 19:40 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/31/**
I've verified this on two SMF forums.  If you run spell check on the drug name mepivacaine, the suggested replacement is motherfucking.  Also works for the misspelled mepivicaine.  Have not yet found any other words that trigger it.

[2014-07-30 03:37] kevina opened #32 "Missing word"
**Reported by gtrentalancia on 2009-12-15 15:23 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/32/**
The following word is missing from hunspell's English dictionary:
"detailedly".

[2014-07-30 03:37] kevina opened #33 "British-ize dictionary accepts analyze and rejects analyse"
**Reported by tspiteri on 2010-03-04 10:05 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/33/**
The british-ize dictionary correctly accepts organize, organization, catalyse, analysis, but it wrongly accepts analyze and rejects analyse. Analyze is an American word.

The Oxford English dictionary prefers -ize over -ise, so it prefers organize from organise. However, -yse is the only B

[2014-07-30 03:37] kevina opened #34 "Add fetus to en-gb"
**Reported by *anonymous on 2010-03-24 10:34 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/34/**
Fetus is the correct (Latin) spelling, especially in scientific and technical writing and recently in British English.  It is commonly spelled 'foetus' in British English, out of tradition.

OED 2nd Ed says this:

fetus   /'fi:ts/ ( (Brit.) (in non-technical use) also foetus )

→ noun
(p

[2014-07-30 03:37] kevina opened #35 "Missing words"
**Reported by malat on 2010-03-26 09:21 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/35/**
Hi,

Would you please consider adding the following words:

morphogen:
http://www.merriam-webster.com/dictionary/morphogen

poisson:
http://www.merriam-webster.com/dictionary/poisson

acception (also on premium merriam)
http://www.thefreedictionary.com/Acception

accessor
for some reasont he

[2014-07-30 03:37] kevina opened #36 ""encryption" is <- level 60, but "decryption" == level 70"
**Reported by caolan on 2010-06-06 20:02 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/36/**
I get "encryption" accepted at a valid word with the hunspell spell checking dictionaries generated at the default level 60, but only get "decryption" accepted when this is bumped to level 70

[2014-07-30 03:37] kevina opened #37 "'vaginas' missing from en_US"
**Reported by oh_noname on 2010-07-04 13:59 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/37/**
The plural form of "vagina", "vaginas" is missing from the en_US dictionary. "vaginae" is currently the only accepted plural form.

Note: present in the GB dictionary.

[2014-07-30 03:37] kevina opened #38 "Word "lbw" in 2of4brif"
**Reported by verylowsodium on 2010-08-20 19:40 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/38/**
This certainly looks like an error.  In any event, "lbw" is not present in 2+2lemma

[2014-07-30 03:37] kevina opened #39 "Words in 2of12inf not in 2+2lemma"
**Reported by verylowsodium on 2010-08-20 19:41 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/39/**
"absolutest", "darlingest", "rivetted", "rivetting".

[2014-07-30 03:37] kevina opened #40 "Devel Docs: the latest version is not there"
**Reported by yecril71pl on 2010-09-16 10:23 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/40/**
Visit "Devel Docs, Notes" at &lt;URL:http://aspell.net/dev-html/index.html\#Top&gt; says:

The latest version of this document can be found at http://savannah.gnu.org/download/aspell/manual/devel/devel.html.

The URL, however, contains ERROR 404 - PAGE NOT FOUND.

[2014-07-30 03:37] kevina opened #41 "add more words with -able suffix"
**Reported by yecril71pl on 2010-09-16 11:33 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/41/**
like clonable, parsable,  sendable, clickable
(or perhaps modify the Aspell engine to allow them wholesale)

[2014-07-30 03:37] kevina opened #42 "en_GB has marshaling instead of marshalling"
**Reported by mkende on 2010-10-09 18:15 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/42/**
The Oxford dictionaries report that the correct spelling in British English for to marshal is "marshalling" (and "marshaling" for en_US). See e.g. here:
http://www.oxforddictionaries.com/definition/marshal?view=uk

Aspell thinks otherwise.

[2014-07-30 03:37] kevina opened #43 "Reinsurance words missing"
**Reported by tomasstraupis on 2010-12-03 18:59 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/43/**
English dictionary is missing these reinsurance terms:
* reinsurer, reinsurers
* facultative, facultatively
* cedant
* insured (as a noun, meaning insured person. so a word "insureds" (plural) should be OK)

[2014-07-30 03:37] kevina opened #44 "en_GB contains "offencive" and "defencive""
**Reported by alex34567 on 2010-12-07 03:10 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/44/**
The en_GB dictionary uses "offencive" and "defencive" rather than "offensive" and "defensive". To my knowledge, "offencive" and "defencive" are not common spellings in any version of the English language.

[2014-07-30 03:37] kevina opened #45 "Aspell flags "doesn’t""
**Reported by yecril71pl on 2011-01-14 17:29 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/45/**
One possible replacement being "doesn't".  However, I do not want to write "doesn't".  I ended up writing "doesn‘t" several times, flagged in Firefox but perfectly good for Aspell…

[2014-07-30 03:37] kevina opened #46 "obscure calender hides misspellings of calendar"
**Reported by caolan on 2011-02-08 12:56 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/46/**
Calender is a pretty obscure word, and in most cases is a misspelling of Calendar. Attached is my effort to tune wordlist to only include Calender at the very high levels

[2014-07-30 03:37] kevina opened #47 "Missing word in list : "deniability""
**Reported by *anonymous on 2011-03-11 10:10 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/47/**
It's a real word, see http://www.merriam-webster.com/dictionary/deniability

[2014-07-30 03:37] kevina opened #48 "optimization/M -> optimization/SM"
**Reported by *anonymous on 2011-03-29 01:19 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/48/**
I submit, without proof, that "optimizations" is a word.

[2014-07-30 03:37] kevina opened #49 "(en-*) 'adrenalin' is a trademark vs 'adrenaline'"
**Reported by *anonymous on 2011-07-14 15:21 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/49/**
Dict: en-\*
'adrenalin' is a trademark vs 'adrenaline'

should trademark names be included in a dictionary?

[2014-07-30 03:37] kevina opened #50 "(en_variant_2) furore"
**Reported by *anonymous on 2011-07-26 09:59 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/50/**
This is a correct spelling for en-GB, while furor is a en-US spelling.
So needs a little changing in the files.

[2014-07-30 03:37] kevina opened #51 "en_US should contain "Initially""
**Reported by cowwoc on 2011-10-18 18:15 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/51/**
The word "Initially" is missing from the dictionary.

[2014-07-30 03:37] kevina opened #52 "Consider adding some words from Xah Lee blog post"
**Reported by kevina on 2012-04-15 23:58 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/52/**
See,

http://xahlee.org/comp/aspell_vocabulary.html

[2014-07-30 03:37] kevina opened #53 "word "polyamory" missing"
**Reported by kaerast on 2012-04-24 21:37 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/53/**
given polygamy, monogamy and monogamous are both in english-words.35 I would argue that polyamory should also be in there.

I note that some people argue the correct spelling for British English is polyamoury, although this seems to be very rarely used.

[2014-07-30 03:37] kevina opened #54 ""non sequitur" is missing"
**Reported by mouq on 2012-07-31 07:51 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/54/**
Hey there, I'm actually coming after seeing this: https://bugzilla.mozilla.org/show_bug.cgi?id=708267
and doing a little research (this is something I'd noticed before myself). The phrase "non sequitur" is non an especially rare one, and I think that it would be worth it to add "sequitur" to t

[2014-07-30 03:37] kevina opened #55 "Placeholder"
**Reported by kevina on 2014-07-30 00:00 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/55/**
Placeholder for Moved SourceForge Ticket.

[2014-07-30 03:37] kevina opened #56 "word "novenas" missing"
**Reported by jholt1 on 2012-10-03 14:41 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/56/**
As it was what was used in CD.

[2014-07-30 03:37] kevina opened #57 "patch: add possessive forms of irregular plurals"
**Reported by caolan on 2012-10-11 13:28 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/57/**
various possessive forms of irregular plurals are flagged as misspelt. e.g. men's, women's and so forth. Attached is a patch for scowl/src/add-affixes add-possessive to loop through the plurals of Nouns and for the ones that don't end in s add the possessive form of that irregular plural as

[2014-07-30 03:37] kevina opened #58 "Brontosaurus vs. Apatosaurus"
**Reported by *anonymous on 2012-12-18 17:57 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/58/**
The word Brontosaurus appears in the hunspell dictionary, but Apatosaurus does not.  Scientifically, Brontosaurus is not correct, though it is in common usage.  Apatosaurus is the correct name, and its use should not be discouraged.  Webster's defines both.  Ideally (in my mind) Brontosa

[2014-07-30 03:37] kevina opened #59 "Agid4: missing 'several' as adjective"
**Reported by raphj on 2013-12-26 18:11 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/59/**
Hello,

I noticed 'several' is not in the inflected list of AGID4. As an adjective.
Maybe it should be added?

Cheers,
Raphaël.

[2014-07-30 03:37] kevina opened #60 "Words from "2800 Personality Trait Descriptors" (1967) should be included in insane"
**Reported by e_d_moyer on 2014-03-16 18:50 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/60/**
I am using the insane dictionary (as included in Ubuntu 13.10) as a first pass in catching OCR errors for the paper

"2800 PERSONALITY TRAIT DESCRIPTORS--NORMATIVE OPERATING CHARACTERISTICS FOR A UNIVERSITY POPULATION" by W. Norman in 1967.

He and his collaborators were working at Michig

[2014-07-30 03:37] kevina opened #61 "Activate the Github issue tracker"
**Reported by vogella on 2014-07-09 03:00 UTC**
**Orig. from https://sourceforge.net/p/wordlist/issues/61/**
From what I can see you migrated this problem to Github: https://github.com/kevina/wordlist

Could you enable the issue tracker in Github? It is easier to report issues in Github if that is there you host the code.

[2014-07-30 03:37] #60 closed, assigned to nobody

[2014-07-30 03:37] #58 closed, assigned to nobody

[2014-07-30 03:37] #57 closed, assigned to nobody

[2014-07-30 03:37] #56 closed, assigned to nobody

[2014-07-30 03:37] #55 closed, assigned to nobody

[2014-07-30 03:38] #54 closed, assigned to nobody

[2014-07-30 03:38] #53 closed, assigned to nobody

[2014-07-30 03:38] #51 closed, assigned to nobody

[2014-07-30 03:38] #50 closed, assigned to nobody

[2014-07-30 03:38] #48 closed, assigned to nobody

[2014-07-30 03:38] #47 closed, assigned to nobody

[2014-07-30 03:38] #45 closed, assigned to nobody

[2014-07-30 03:38] #44 closed, assigned to nobody

[2014-07-30 03:38] #43 closed, assigned to nobody

[2014-07-30 03:38] #42 closed, assigned to kevina

[2014-07-30 03:39] #41 closed, assigned to kevina

[2014-07-30 03:39] #40 closed, assigned to nobody

[2014-07-30 03:39] #39 closed, assigned to nobody

[2014-07-30 03:39] #38 closed, assigned to nobody

[2014-07-30 03:39] #37 closed, assigned to kevina

[2014-07-30 03:39] #61 closed, assigned to kevina

[2014-07-30 03:39] #36 closed, assigned to kevina

[2014-07-30 03:39] #34 closed, assigned to kevina

[2014-07-30 03:39] #33 closed, assigned to kevina

[2014-07-30 03:40] #32 closed, assigned to kevina

[2014-07-30 03:40] #30 closed, assigned to kevina

[2014-07-30 03:40] #29 closed, assigned to kevina

[2014-07-30 03:40] #28 closed, assigned to kevina

[2014-07-30 03:40] #27 closed, assigned to kevina

[2014-07-30 03:40] #26 closed, assigned to kevina

[2014-07-30 03:40] #25 closed, assigned to kevina

[2014-07-30 03:40] #24 closed, assigned to nobody

[2014-07-30 03:40] #23 closed, assigned to kevina

[2014-07-30 03:40] #22 closed, assigned to kevina

[2014-07-30 03:40] #21 closed, assigned to nobody

[2014-07-30 03:41] #20 closed, assigned to nobody

[2014-07-30 03:41] #19 closed, assigned to nobody

[2014-07-30 03:41] #18 closed, assigned to kevina

[2014-07-30 03:41] #17 closed, assigned to kevina

[2014-07-30 03:41] #16 closed, assigned to kevina

[2014-07-30 03:41] #14 closed, assigned to kevina

[2014-07-30 03:41] #12 closed, assigned to kevina

[2014-07-30 03:41] #11 closed, assigned to kevina

[2014-07-30 03:41] #10 closed, assigned to kevina

[2014-07-30 03:41] #8 closed, assigned to kevina

[2014-07-30 03:42] #6 closed, assigned to kevina

[2014-07-30 03:42] #4 closed, assigned to kevina

[2014-07-30 03:43] #1 closed, assigned to kevina

[2014-07-30 08:37] vogella opened #62 "Add "committer" and "committers" as word"
Is this the right place to report new words for your spell checker?

If, than I think "committer" and "committers" should be added. See http://www.oxforddictionaries.com/definition/american_english/commit

[2014-07-31 12:29] kevina opened #63 "Need Better Name"
The current name "wordlist" is horribly generic.  The title, "SCOWL (and friends)" is overly technical.  The project needs a better name!

"Open Source English (GB/US/...) dictionaries" was suggested.  However, the project aims to be more than just Open Source English dictionaries.

I am thinking maybe something the "English Word Lists Database".  In the name I want to make it clear that is more t

[2014-07-31 19:33] kevina opened #64 "Possible VarCon Improvments"
The file [uk/varcon-lookinto.txt](https://github.com/kevina/wordlist/blob/better-uk-dict/uk/varcon-lookinto.txt) on the better-uk-dict branch lists entries in VarCon that could possible need correcting.  For additional context see the [README in the uk/ directory](https://github.com/kevina/wordlist/tree/better-uk-dict/uk).

Each cluster (a group on entries based on the same headword) needs to at l

[2014-07-31 19:38] kevina opened #65 "Possible VarCon Additions"
The file [uk/varcon-notin.txt](https://github.com/kevina/wordlist/blob/better-uk-dict/uk/varcon-notin.txt), on the better-uk-dict branch, lists variant pairs that could indicate a need for a new entry in VarCon.  For additional context see the [README in the uk/ directory](https://github.com/kevina/wordlist/tree/better-uk-dict/uk).

Each entry should be looked up in a British dictionary.  The entr

[2014-07-31 20:00] kevina opened #66 "Don't filter words with a dash ('-') from the source lists."

[2014-07-31 20:04] kevina opened #67 "Possible Compound Problems"
The file [uk/varcon-compound.txt](https://github.com/kevina/wordlist/blob/better-uk-dict/uk/varcon-compound.txt) on the better-uk-dict branch lists words that are included in David/Marco's British dictionary but with a dash.  For additional context see the [README in the uk/ directory](https://github.com/kevina/wordlist/tree/better-uk-dict/uk).

The issue when a compound word is fused (no dash) wi

[2014-07-31 20:32] kevina opened #68 "Possible Possessive Problems"
There are many words in SCOWL that have possessive forms that likely should't.  The file [uk/possessive.txt](https://github.com/kevina/wordlist/blob/better-uk-dict/uk/possessive.txt) lists many of them.  (see the [README in the uk/ directory](https://github.com/kevina/wordlist/tree/better-uk-dict/uk) for additional context).

Some one needs to go through this list, entries that are okay should jus

[2014-07-31 20:38] kevina opened #69 "Convert SCOWL to use UTF-8"
When the SCOWL project first stated UTF-8 was not common at all, this has now changed and working with ISO-8859-1 is becoming increasingly difficult.

SCOWL should be converted to use UTF-8 as much as possible.  This is easier said then done as all the source lists are in iso-8859-1 and we need to be extra careful we are not mixing encoding.

[2014-07-31 20:46] kevina opened #70 "Possible Abbreviation Problems"
The file [uk/abbreviation.txt](https://github.com/kevina/wordlist/blob/better-uk-dict/uk/abbreviation.txt) lists possible abbreviation problems (see the [README in the uk/ directory](https://github.com/kevina/wordlist/tree/better-uk-dict/uk) for additional context).

This list needs to be processed somehow.

This relates to issue #15.

[2014-07-31 21:33] kevina opened #71 "Possible Problems with 2of12id"
The file [uk/2of12id-lookinto.txt](https://github.com/kevina/wordlist/blob/better-uk-dict/uk/2of12id-lookinto.txt) indicates possible problems with Alan's 2of12id that are causing not so common or invalid words to appear in the main dictionary.

These somehow need to be addressed.

This file currently reflects Alan's informed opinion and I have been clearing any changes from him.  It may be wise t

[2014-07-31 22:39] kevina opened #72 "Misc Problems With British Dictionary"
The files uk/[40.txt](https://github.com/kevina/wordlist/tree/better-uk-dict/uk/40.txt), [50.txt](https://github.com/kevina/wordlist/tree/better-uk-dict/uk/50.txt), and [60.txt](https://github.com/kevina/wordlist/tree/better-uk-dict/uk/60.txt) list words that are found in David/Marco's dictionary but now SCOWL.  (see the [README in the uk/ directory](https://github.com/kevina/wordlist/tree/better-

[2014-07-31 22:50] kevina opened #73 "Record Differences in Vocabulary in addition to Spelling"
VarCon currently focus on spelling difference between American, British, and Canadian English.  There is currently a rough attempt to record vocabulary differences in [voc.tab](https://github.com/kevina/wordlist/blob/better-uk-dict/varcon/voc.tab), but it is not carefully checked and gives no indication on what form is American, British, etc.

A new file [voccon.txt](https://github.com/kevina/word

[2014-08-02 00:06] #52 closed, assigned to kevina

[2014-08-02 00:06] #62 closed, assigned to nobody

[2014-08-06 15:27] vogella opened #74 "Please add "Gerrit" as word"
Gerrit is a popular code review system based on Git used by Android, Eclipse and several other OS projects.

[2014-08-11 00:15] kevina opened #75 "Add some documentation for SQLite database."

[2014-08-12 14:46] kevina opened #76 "Create app could use better documentation"
The create http://app.aspell.net/create app could use better documentation.

For example, @danielnaber suggested I add some examples to clearer what is meant by variants, but I think a more detailed explanation is needed.

[2014-08-20 01:32] NilsEnevoldsen opened #77 "Doesn’t recognize apostrophe (U+2019); possibly solved by László Németh’s affix file changes"
March 9th, 2010: [László Németh “fixes” OpenOffice issue 107843](https://issues.apache.org/ooo/show_bug.cgi?id=107843#c15) by releasing new English dictionaries as [an extension](http://extensions.openoffice.org/project/dict-en-fixed). As with previous versions, they were based on Kevin Atkinson’s word lists. The release notes for this extension included:

file)

I believe this subsequently become

[2014-08-25 12:58] kevina opened #78 "Add webinar"
Add webinar

[2014-09-04 15:47] lazymachinist opened #79 "no proper names in scowl/final/american-proper-names.35"
this list I was expecting to have words like:
(from american-proper-names.80)

Alcide
Alcide's
Anora
Anora's
Arctogean
...

but scowl/final/american-proper-names.35 contains:

okay
okay's
okays

which doesn't seem right.

[2014-09-06 11:58] #79 closed, assigned to nobody

[2014-09-06 12:01] kevina opened #80 "Corretly handle case when a proper name ends in "'s""
Handle the case when a proper name ends in 's when adding possessive forms.  Currently SCOWL has these entries in in: Kinko's's, McDonald's's, Wendy's's, Levi's's; which is clearly not right.

[2014-09-24 11:55] NickRuiz opened #81 "Translate from British to American fails on simple words"
[varcon-2014.08.11]$ echo "Here's an example of" | ./translate british american
**Heer's** an example of
varcon-2014.08.11]$ echo "Here is an example of an error" | ./translate british american
**Heer** is an example of an error

[2014-10-17 06:41] danielnaber opened #83 "better link to lookup web app"
I suggest putting a big bold link to http://app.aspell.net/lookup on the SCOWL homepage, so it's easy to find. Currently it's a bit hidden on one of the sub pages.

[2014-10-17 13:49] PanderOpenTaal opened #84 "New words"
I would like to contribute the following words to the English word lists:

interfix
interfixes

lexicology
lexicological
lexicologically

hyphenator (hyphenating software)
hyphenators

refactoring (of source code)
refactor
refactors
refactored

pomodoro (time management method)
pomodori

and from http://sourceforge.net/p/hunspell/feature-requests/33/

unobvious
recompress
recompressed
recompresses

[2014-11-02 22:57] #81 closed, assigned to nobody

[2014-11-04 05:10] #78 closed, assigned to kevina

[2014-11-04 23:53] marcoagpinto opened #86 "New words for US/CA"
Kevin,

In the past two days I have added around 200 new words to en_GB.

I am pasting here the words which gave an error with en_US using OpenOffice, so that you could see which ones to add to US/CA:
Zuckerberg
Zuckerberg's
convocational
denticle
denticles
reticulary
crinoid
crinoids
brachiopod
brachiopods
conodont
conodonts
intracompany
agglutinogen
agglutinogens
downdrift
downcut
downcuts
downc

[2014-11-15 14:04] marcoagpinto opened #87 "Typo in US/CA: hovercrafts"
Kevin,

I have been adding words to en_GB from the 50, 60 and 70 wordlists which you sent me.

I found a typo:
+ hovercrafts (60 wordlist)

According to:
http://www.oxforddictionaries.com/definition/english/hovercraft
The plural of the word is the same as singular.

[2014-11-15 16:51] #74 closed, assigned to nobody

[2014-11-15 23:41] #35 closed, assigned to nobody

[2014-11-15 23:50] #84 closed, assigned to nobody

[2014-11-16 02:04] #86 closed, assigned to nobody

[2014-11-16 03:32] #83 closed, assigned to kevina

[2014-11-16 13:04] marcoagpinto opened #88 "New words for US/CA - 2014-11-16"
Hello Kevin,

Here are a few more words not in US:
jerrican + jerricans (another way of jerrycan + jerrycans)
lexigram
lexigrams
catchweight
listenability
meteorologically
unbearableness
unbeautiful
unbeautifully
unbefitting
unbefittingly
unbefittingness
unbefittingness's
unbeholden
irreligion
irreligionist
irreligiously
irreligiousness
irremissible
irremovability
irremovably
irreplaceably
irrepro

[2014-11-27 01:40] clintonroy opened #89 "word Suggestion: Sep"
All the month abbreviations except Sep (for September) appear to be included:

% echo Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec | aspell list
Sep

cheers,

[2014-11-27 08:05] #89 closed, assigned to nobody

[2014-12-26 19:26] marcoagpinto opened #90 "New words for US/CA - 2014-12-26"
Kevin!

I have finished adding words to en_GB V2.20 to be released on 1-JAN-2015.

I entered feature freeze and, on Monday, I will start packing stuff.

I have added over 800 words in V2.20.

I am placing here the list of words missing in US/CA. Please notice that it is possible that some of the words here are British and thus different in US/CA.

Thanks!

===
scramjet
scramjets
neurofeedback
astr

[2015-01-03 18:56] yecril71pl commented on #72
Please add "redistributable".

[2015-01-03 19:07] kevina commented on #72
@yecril71pl this is not the place to request new words, please file a new bug report.

[2015-01-27 04:55] #46 closed

[2015-01-27 04:55] #49 closed

[2015-01-27 05:09] #3 closed

[2015-01-28 16:15] marcoagpinto opened #91 "New words for US/CA - 2015-01-28"
Hello Kevin,

I have spent a month home on vacation and added around 1500 words to en_GB.

Here is the list of the ones who appeared as typos in US.

Please notice that some may be GB specific.

I am going to start packing the files (feature freeze) to release on the 1st of February.

Kind regards,

      --------------------

WORDS MISSING IN US/CA:
recursivity
recursivities
recursiveness
pseudoc

[2015-01-30 01:14] kevina opened #92 "Make use of Alan's neol2015"
Make use of [Alan Beale's neologism list](https://github.com/kevina/wordlist/blob/master/scowl/r/special/neol2015.txt).

This will add a lot of newer words coming into the lexicon.

[2015-01-30 01:20] kevina commented on #90
@biljir care to comment on this massive list.  You might want to consider pasting the list into http://app.aspell.net/lookup-freq to make it more manageable.

[2015-01-30 01:20] kevina commented on #91
@biljir care to comment on this massive list.  You might want to consider pasting the list into http://app.aspell.net/lookup-freq to make it more manageable.

[2015-01-30 01:26] biljir commented on #92
By the way, I just now added cardio (cardios%).

[2015-01-30 01:39] marcoagpinto commented on #91
Kevin and biljir,

Sorry for the massive list... but I was one month at home in vacation and spent whole afternoons testing and adding words.

And now that I have an Oxford Gold Account, I was able to have access to even more words.

[2015-01-30 12:44] biljir commented on #92
Also added exoplanet(s).

[2015-01-30 13:51] biljir commented on #90
Kevin originally asked me to comment on these issues as to whether I would consider adding any proposed words to my 12dicts package. The answer is always pretty much No. But I looked at the list of words asking the alternate question: Is it reasonable that a spell-checker should bother with these words? There are 37 I identified that seem reasonable in that way. Most of the remainder I was not fam

[2015-01-30 14:09] biljir commented on #91
(See disclaimers on # 90.)

Here are the words from this list that seem to me to be worthy of being known by a spell-checker. There are a few I'm really surprised aren't already known.

femtosecond
femtoseconds
unfought
low-carb
Zinfandels
postdocs
should've
awardee
awardees
overprescribe
overprescribes
overprescribing
overprescribed
overprescription
Gaia
re-enactor
re-enactors
Barack
shadowland
s

[2015-01-30 19:21] kevina commented on #90
On Fri, 30 Jan 2015, Alan Beale wrote:

@biljir, I am little surprised and disappointed to here you say that.  It's
not every word that that can be followed by a "'s" only nouns.  And even then
it is only those that can take possessive forms that should have a "'s" added.

"'s" words need to be in the speller dictionary and having two many words with
"'s" have been a major problem for me as I don'

[2015-01-30 19:29] kevina commented on #92
@biljir that's for the updates.  I think it would be easier for you to just send me (in private email) an updated file every so often and I will push a new version, rather than me trying to manually edit the file.

Alternatively you can directly edit the file on github at https://github.com/kevina/wordlist/edit/master/scowl/r/special/neol2015.txt and create what is known as a pull request, you can

[2015-01-30 19:48] marcoagpinto commented on #90
True, Kevin, that is why in the next update of my pages/en_GB, it will
have written:
*Main difficulties developing this dictionary:
1) Names of places and persons;
2) Words ending with 's;
3) Plurals.*

Kind regards,

         ----------------------

On 30/01/2015 19:21, Kevin Atkinson wrote:

--

[2015-01-30 23:08] kevina opened #93 "Add possessive forms for Alan's neol2015"
Alan Beale's neologism list (#92) does not include possessive forms (i.e. 's).  A supplementary list of possessive  forms should likely be created and combined with his list.

[2015-01-30 23:08] #92 closed

[2015-01-31 20:49] kevina commented on #88
@yecril71pl I can't find overridable in any dictionary.

[2015-01-31 20:54] #88 closed

[2015-02-01 03:18] kevina opened #94 "Let in the plurals: "narcissi" and "incubi"."
"narcissi" is the plural for "narcissus"
Let "narcissi" and "narcissuses" in with "narcissuses" being marked as a variant.

"incubi" is the plural for "incubus" but "incubuses" is allowed.

Right now all "narcissi" and "narcissuses" and "incubi" are marked as level 2 variants.

Related to #91

[2015-02-01 05:29] #90 closed

[2015-02-01 05:31] #91 closed

[2015-02-01 05:32] kevina commented on #90
Thanks Alan for filtering Marco list for more.

Without additional information I am still not sure about adding all the words in your list to the normal size.  So here is what I did for this issue and #91.  I filtered Alan's list through http://app.aspell.net/lookup-freq.  I added some of the 5 and 4 star words as signature words.  I added most words with 3 star or above (and a few 2-star words) t

[2015-02-01 12:41] biljir commented on #91
I'd like to put in a special commercial for the word Barack, which is the first name of the man who will be President of the US for two more years. For the near future, people will be writing/typing that word considerably more often than the word "barrack(s)", which is I presume where the conflict with another word arose. I'd strongly suggest this go at the level where all the names live (was that

[2015-02-01 17:23] kevina commented on #91
@biljir I agree that Barack should be in there and in fact it has been in my proper-names since Nov of 2008 which is why I didn't pay much attention to it. :)

In case you don't already know, if you think a word really ought to be there you can double check by looking up the word at http://app.aspell.net/lookup.

[2015-02-04 14:13] danielnaber opened #95 "add "functionalities""
(originally reported at https://github.com/languagetool-org/languagetool/issues/237)

[2015-02-07 03:17] kevina opened #96 "Consider adding stepmom and stepdad"
Not in m-w.com but found in other dictionaries.

[2015-02-07 18:58] kevina commented on #80
I put a hack in place to push the words to the 95 level for now, removing milestone marker.

[2015-02-07 19:05] kevina commented on #87
@biljir what is your though on this word ("hovercrafts").  You have it marked as a variant in 2of12id but it is in your 2of4brif file.  Only a few dictionaries I checked mention the plural form.

[2015-02-07 19:07] #95 closed

[2015-02-07 19:07] #96 closed

[2015-02-07 19:20] biljir commented on #87
I found several authorities that claim that the only plural is hovercraft. I found several others that allow for hovercrafts. The first set of authorities I consider more reputable. However, most dictionaries, as you note, don't say anything at all, which I take to indicate implicitly that the plural is regular.

One of the British dictionaries included in 2of4brif explicitly lists the -s plural,

[2015-02-07 19:33] kevina commented on #87
Thanks @biljir I think i will mark hovercrafts as a variant.

[2015-02-07 19:35] marcoagpinto opened #97 "New words for US/CA - 2015-02-07"
Hello Kevin,

I saw the e-mail activity and here is a list of around 190 words not recognised by US.

Kind regards,

       ---------------------

EDIT: Please notice that some words may be GB only.
reupload
reuploads
reuploading
reuploaded
purificatory
Selene
Selene's
enduro
enduros
autotest
autotests
euphrasia
sabadilla
smartwatch
smartwatches
Engelmann
Engelmann's
blackbutt
blackbutts
cordwood

[2015-02-07 19:39] #87 closed

[2015-02-07 20:01] kevina commented on #94
I think I will leave things the way they are for now.  I am finding evidence that narcissi and incubi are variants in some dictionaries.  In addition freq. information is telling me that the -i forms are not very common.

[2015-02-07 20:01] #94 closed

[2015-02-08 13:20] yecril71pl commented on #88
http://en.wiktionary.org/wiki/overridable

[2015-02-08 17:18] kevina commented on #88
@yecril71pl overridable is a bit too technical of a term, sorry.  In the future if you want to add a word please file a separate issue report.

[2015-02-09 22:04] kevina opened #98 "Add tuple/tuples"
Fairly common technical term.

[2015-02-10 22:04] #98 closed

[2015-02-10 22:09] kevina commented on #97
@biljar care to comment on these words?

[2015-02-10 22:10] kevina commented on #97
@biljir care to comment on these words?

[2015-02-11 00:04] biljir commented on #97
I can immediately endorse DVR(s), buttercream and kleptocracy. smartwatch is a rising neologism, it's probably worth adding. The mujah- words are all alternate spellings of mujaheedin (and I'm not sure that's the most accepted spelling). I'm not sure how accepted taskforce is as a single word - a quick search of major American dictionaries did not turn up anyone that accepts it. The names Troilus

[2015-02-11 01:55] kevina commented on #97
Thanks Alan.

I added your suggestions.

[2015-02-11 07:34] marcoagpinto commented on #97
Alan and Kevin,

Please notice that I mentioned that some words may be GB specific.

"taskforce" appears in the Garner's Legal Oxford dictionary (remember I
have a gold account):

"taskforce

is increasingly made one word, especially in BrE. That being so, it
would be convenient for writers—in BrE and AmE alike—to make it one. E.g.:"

And, several of the names I mentioned were from Greek Mythology

[2015-02-11 13:38] biljir commented on #97
I note that the Google books ngram viewer shows that usage of "taskforce" is minuscule compared to "task force".

[2015-02-13 11:37] lubodrinka opened #99 "how to determine word class from flag"
In SK and CZ dic there are file where is described what is  meaning by flag after / .
word/flag
and flag  in english DIC ?
/M is noun
numerous is /P, /TC, /NM
Verb is - V, B, X....
adjectives ?
and why is M in noun and NM?
OR what is difference between /SM and /MS?

[2015-02-13 18:52] kevina commented on #99
The flags do not describe the meaning of the word, only what pre/suffixes to apply so there is no single flag for noun, verb, or adjective, just ones to add "-ing" "-ed" "-s" "-er", etc.

In fact the flags are automatically created from an expanded word list for example assuming /S adds "-s" then:

will become

There is no difference between "/SM" and "/MS".

[2015-02-13 18:52] #99 closed

[2015-02-14 11:13] lubodrinka commented on #99
ou so., but what is M ? Addison/M =  Addisom, that not looks like suffix.
or Agassi/M. i look in dic all words with flags M are nouns.
and second
so then i can go aff and there is
SFX M Y 1
SFX M   0     's
so if if no Y then select line  SFX M   0     's     ., what is meaning by zero?

[2015-02-14 18:36] kevina commented on #99
This is not the place to ask these types of questions.  Please refer to the Hunspell manual for the documentation for the affix files.  See https://sourceforge.net/projects/hunspell/files/Hunspell/Documentation/.

[2015-02-15 20:22] #93 closed

[2015-02-16 10:01] kevina opened #100 ""men's" and "women's" is missing"
Likely due to that possessive forms are not added to plural forms of nouns, even if they don't end in -s.

As a hack men and women can be added to "r/special/add-possessive".

[2015-02-16 21:42] marcoagpinto opened #101 "New words for US/CA - 2015-02-16"
Hello Kevin,

I am using your 2015-02-15 US dictionary in OpenOffice to check words (I created an .OXT just for testing).

Here are some words not recognised by it:
blingy
blingier
blingiest
burkha
burkhas
delexical
earbash
earbashing
emojis
geocacher
geocachers
geocacher's
googleable
googlable
weblog
weblogs
weblogger
webloggers
weblogger's
underwire
underwires
underwired
Islamophobia
Islamophobe

[2015-02-25 20:14] marcoagpinto opened #102 "New words for US/CA - 2015-02-25"
Hello Kevin!

Tonight I entered feature freeze for en_GB.

A guy said he was going to send me a list of finance terms but so far nothing... so, I can't wait for his list.

On 2015-03-01 I will update English for Mozilla (GB) and English for OpenOffice (GB+US+CA).

I believe that I mentioned it before: I created a test .OXT with your latest US+CA so that I could test my latest additions to GB befor

[2015-02-25 23:24] mwichary commented on #77
I made and verified the necessary change.

This is a patch, unsure yet how to best deliver it (emailed @kevina):
https://github.com/mwichary/wordlist/commit/d2a626cacbd6c6d241cdebe68bcec502acfb8633

[2015-02-26 08:04] philipzae commented on #63
Public English Word Database (aka pewDB)

[2015-02-26 08:54] philipzae opened #104 "combining hunspell dictionaries from libreoffice and firefox"
I checked libreoffice's en_US.dic and its at 52,890 and firefox's en_US.dic is at 62,118 while SCOWL is at 48,623. Is there a way that we can try and combine the additional work together so nothing is being left out when these to projects start using SCOWL.

LibreOffice - http://cgit.freedesktop.org/libreoffice/dictionaries/tree/en
Firefox - https://addons.mozilla.org/en-US/firefox/addon/united-st

[2015-02-26 16:41] kevina commented on #104
Please note that the Firefox dictionary you found is an addon, the official dictionary is part of Firefox, see https://hg.mozilla.org/mozilla-central/file/tip/extensions/spellcheck/locales/en-US/hunspell.  However, the dictionary is currently in a state of flux; see https://bugzilla.mozilla.org/show_bug.cgi?id=1133363.

Also please note that larger is not necessary better and that to do a meaningf

[2015-02-26 21:05] #77 closed

[2015-02-26 22:08] philipzae commented on #104
Thank you for the clarifications. I have opened a bug report in libreoffice's bug tracker to ask them to integrate yours into it and hopefully their custom changes can be imported into yours for upstream.

https://bugs.documentfoundation.org/show_bug.cgi?id=89695

[2015-03-26 22:30] marcoagpinto opened #106 "New words for US/CA - 2015-03-26"
Hello!

Kevin, I have entered feature freeze for en_GB and next week I am going to release it.

Here is the 600+ words not found in US.

In this version I have added dozens of names since names is a weakness in the dictionaries.

Thanks!

Kind regards from your friend,

       --------------------

Aintree
ainhum
cholelithiasis
cholecystitis
pancreatitis
cardiomyopathy
pericardial
mammalogy
mammal

[2015-04-11 02:50] kevina commented on #101
@biljir care to comment on any of these words.  If it will help you can copy and paste the list into http://app.aspell.net:/lookup-freq to rank them all against Google's ngrams corpus.

[2015-04-11 02:50] kevina commented on #102
@biljir care to comment on any of these words. If it will help you can copy and paste the list into http://app.aspell.net:/lookup-freq to rank them all against Google's ngrams corpus.

[2015-04-11 02:50] kevina commented on #106
@biljir care to comment on any of these words. If it will help you can copy and paste the list into http://app.aspell.net:/lookup-freq to rank them all against Google's ngrams corpus.

[2015-04-11 14:21] biljir commented on #101
There are a number of good words on this list, even though none that have me rushing out to add them to 12dicts. I mention specifically

underwire
underwires
underwired
Islamophobia
Islamophobic
ISS
subdominant
seamount
seamounts

burkha is an alternate spelling of burka/burqa, but in my experience less common than either.

I have seen emojis in print, and accepted by at least one dictionary (I fo

[2015-04-11 14:44] biljir commented on #102
Oh, so many words!

First of all, I would call the abbreviation QA as important to add.

Other good words without any comments:

multiyear
contrarian(s)
majoritarian(s)
absurdist(s)
handclap(etc)
Frodo, Gandalf, Tolkienesque
Rastafarians
Winesaps

Comments on other words:

intuitionism is a specialist's word. It is an important branch of the philosophy of mathematics, and I think it may be used el

[2015-04-11 15:00] biljir commented on #106
There is very little on this list with which I'm familiar. Words I actually recognize (not including computer-geek stuff) include: pancreatitis, extremophile, newfound (I think it's usually hyphenated), Barclays (not much used in USA, I suspect), Ivorians, Nibelung(etc) (would make opera-lovers happy), Dawkins (add him), medusa (etc), cufflink (I imagine this is more commonly hypehnated, or you'd

[2015-04-13 19:14] biljir commented on #102
I realized out of the blue that I had breezed right past "theremin", which is an early 20th-century electronic musical instrument, and still sometimes used by composers wanting an unearthly sound. Not all THAT common, but I'd say that if you presently list "dobro", then you probably should list "theremin" as well. Not that the two have much to do with one another, except for both being musical ins

[2015-04-15 02:31] kevina commented on #101
Concerning "weblog" Google books seams to disagree with you although weblog doesn't seam to be used:  http://app.aspell.net/lookup-freq?words=weblog%0D%0Aweblogger%0D%0A;also=similar;parm=normal.

I think I will add most of Alan's other suggestions as well.

[2015-04-15 02:39] #101 closed

[2015-04-16 02:01] kevina commented on #97
I've added all the words I am going to from this list.  Closing.

[2015-04-16 02:01] #97 closed

[2015-04-17 03:48] kevina commented on #102
Thank you both, see my commit for what I added.

@biljir "dobro" is included but the plural is not.  In addition "dobros" is to close to "debris" so I think I will leave it out.  "theremin" is not in there so I will add, but I think I will leave the plural out

[2015-04-17 03:50] #102 closed

[2015-04-19 02:50] kevina commented on #106
Actually there where a good number of words on this last that were fairly common (4 starts based on my ranking system, see http://app.aspell.net/lookup-freq) that I added.

I also added Dawkins Hayek and "wasabi".

[2015-04-19 02:51] #106 closed

[2015-04-19 17:53] kevina opened #107 "unix2dos is not available on all systems"
"unix2dos" is not available on all systems.  "todos" has the same functionally and should be used if available.

See pull request #105.

[2015-04-26 08:11] marcoagpinto opened #108 "New words for US/CA - 2015-04-26"
Hello Kevin,

I have entered feature freeze for en_GB.

Here is the list of words not recognized by US/CA (2015-04-24):
Hopson
Hopson's
Coolaney
hydroid
hydroids
polypoid
theca
thecae
thecate
dinoflagellate
dinoflagellates
jobseeker
jobseeker's
jobseekers
wreaker
Frederica
Frederica's
Krista
Krista's
agoraphobe
agoraphobes
Heworth
Crothers
Crothers's
anorgasmic
anorthosite
uncirculated
baht
gossam

[2015-05-03 22:11] #107 closed

[2015-05-04 04:51] kevina commented on #104
I helped Mozilla upgrade to the latest upstream version, see https://bugzilla.mozilla.org/show_bug.cgi?id=1137544.  I might be willing to do the same for Libreoffice if someone contacts me directly about it.

I am closing this bug as it not really an upstream issue.  Please fell free to email me directly at kevina@gnu.org or add me to the CC list for any relevant bugs.

[2015-05-04 04:51] #104 closed

[2015-05-05 15:13] #9 closed

[2015-05-05 15:13] kevina commented on #9
Fixed in pull request #109.

[2015-05-07 21:07] philipzae commented on #104
Unfortunately its not possible to CC on the bug report mentioned above without you registering with LibreOffice's bugzilla, so if you could register with bugzilla and add a comment to the bug report, and check the 'Add me to CC list' checkbox, that would be appreciated.

[2015-05-12 01:24] nanake opened #110 "Add "composited", "compositing" and "compositeness""
Firefox added this to en-US dictionary so please consider add this too.

[2015-05-12 05:19] kevina commented on #110
Thanks for the suggestion.  Do you have a link to the bug report/comment on Mozilla?

[2015-05-12 05:58] kappakappatheta commented on #110
https://bugzilla.mozilla.org/show_bug.cgi?id=1160730

[2015-05-13 04:24] kevina opened #111 "Possible New Words From Coca Corpus Crossed Reference With Google Corpus"
Here is a list of around around 600 new words from my processing of the Coca N-grams (http://corpus.byu.edu/coca/) and crossed reference with Google books tool (http://app.aspell.net/lookup-freq).

There is a lot of garbage in the list, but some good words to consider adding, such as "healthcare".

[code]

[2015-05-26 10:06] marcoagpinto opened #112 "New words for US/CA - 2015-05-26"
Hello Kevin,

I still haven't tested your US/CA released days ago.

These are the words not recognised by the version before.

Please notice that some words may be GB specific.

Thanks!

lux
lx
illuminance
illuminances
fluoxetine
luminaire
luminaires
chromaticity
winkler
winklers
Breydon
Breydon's
Netherfield
Bintley
Kircubbin
Rossendale
Rossendale's
sheepshead
waymark
waymarks
waymarking
waymarke

[2015-06-04 13:04] NickRuiz opened #113 "Can't execute varcon/translate"
I recently tried building the HEAD version. After running make, I tried running the varcon/translate script, but I get the following error. What needs to be done to fix this?

$ cd varcon
$ echo "this is my favourite" | ./translate british american
Could not extract word from cluster. at varcon.pm line 173, <IN> chunk 2863.

[2015-06-04 17:21] #113 closed

[2015-06-04 17:22] kevina commented on #113
Sorry about that.  Just pushed a fix, if this doesn't fix your problem please reopen.

[2015-06-04 20:57] NickRuiz commented on #113
Much better. Thanks for the quick turnaround. Maybe you could put some regression tests in the makefile to verify that new changes don't break existing functionality.

[2015-06-27 09:57] marcoagpinto opened #114 "New words for US/CA - 2015-06-27"
Hello Kevin Atkinson,

Here is the list of words not in US/CA, which will ship in the next en_GB update in a few days.

Thanks!

Kind regards,

       ---------------------

=====
understeer
understeers
understeering
understeered
oversteer
oversteers
oversteering
oversteered
WAP
Tomaselli
Tomaselli's
Parello
Parello's
Dulwich
Dulwich's
drugget
Liam
Liam's
Nadelmann
Nadelmann's
Dewhurst
Dewhurst's

[2015-06-27 21:23] kevina commented on #114
Thanks for the list. My current plans are to review this list and other issues labeled "new words" and create a release sometime in July.

[2015-07-15 22:21] kevina commented on #108
@biljir care to comment on these words?

[2015-07-15 22:21] kevina commented on #112
@biljir care to comment on these words also?

[2015-07-15 22:21] kevina commented on #114
@biljir care to comment on this new set of words?

[2015-07-16 13:51] biljir commented on #108
Most of the words from this list that I thought of particular merit are already present in en_US, according to Kevin's tool. Here are recommended words that did not show up:

waterski, etc. - Dictionaries differ on whether this is best hyphenated or not. And the tool gave me no information for hyphenated words, so I don't know whether water-ski, etc., is already recognized.

power-hungry - no info

[2015-07-16 14:09] biljir commented on #112
There's not a lot to talk about here.

flatbread is the only word I can unconditionally recommend.

leucocyte and biriani actually show up in some ESL dictionaries. However, it appears the preferred US spellings are leukocyte and biryani. biryani might be primarily English usage (being an Indian food).

birthweight was in one dictionary I consulted, but the two word form was preferred.

Francophil

[2015-07-16 14:33] biljir commented on #114
Comments on a few of these words:

I'm not sure how hyphenated words work in your list, but I urge inclusion of okey-dokey and okey-doke.

I believe that declaw and its forms should be added.

Qur'an/Quran and Quranic/Qur'anic are interesting. I have no doubt that Koran(ic) is more common, but Qur'an(ic) is clearly more authentic, and would be preferred in scholarly writing. I would recommend that

[2015-07-27 00:29] marcoagpinto opened #116 "New words for US/CA - 2015-07-27"
Hello Kevin,

Here are hundreds of words not recognised in US/CA.

Please notice that I have added many dozens of British cities+persons names.

I was in Wikipedia checking the British cities.

I have entered feature freeze and I won't add more words to en_GB.

Thanks!

Kind regards,

=========
Uriarte
Uriarte's
Traynor
Traynor's
dreamwork
Hergenröther
Hergenröther's
Verdana
unextended
blobby
blob

[2015-07-29 23:27] biljir commented on #116
Kevin, I assume that, even without a prompt from you, you want me to look at these. If this is not so, just let me know, and I won't do it again.

Here are the words in this list that struck my attention, and that I think there is a case for, with occasional comments. None of them are in en_US, according to your tool.

contrabassoon(s)
antivenom - I think the technical term antivenin is considered

[2015-07-30 01:57] kevina commented on #116
@biljir Yes your feedback is always useful.

Right now I don't include hyphenated words but I hope to change it.  When I do I will plan to only include hyphenated words if at least one part of the word is not normally in the dictionary.  "nitty-gritty" will count since nitty is not in the dictionary normally.

Thanks again for your feedback.

[2015-07-30 01:59] kevina commented on #116
All, I have been busy with other things but I plan to create a new release sometime in August.

[2015-08-06 22:45] ehsan opened #117 "Subsumption is missing from the dictionary"
It's the noun for subsume.

[2015-08-08 08:09] jbhanks opened #118 "potentiate (verb) missing"
"Potentiate" and its conjugations are not in the dictionary.

That is:
potentiate
potentiating
potentiated
potentiates

[2015-08-15 07:00] kevina commented on #118
@biljir what is your view of this word.  I notice the very similar word "potentate" is in there.  However, I am not sure how much more common it is. "potentiate" is the the larger dictionary.

[2015-08-15 07:03] #117 closed

[2015-08-15 12:01] biljir commented on #118
This word is in my 5desk list, and in all the college dictionaries I checked. That may help in deciding where to put it. It is an uncommon technical word, but not outrageously obscure. It is more obscure than potentate, in my opinion.

I don't think that potentate is likely to be confused with potentiate. Neither one is a plausible spelling of the other, assuming you know the pronunciation. (And t

[2015-08-16 12:34] adamclayman commented on #118
Well said. This dictionary definitely needs potentiate.

[2015-08-18 02:43] kevina commented on #110
I will add composited and  compositing but not compositeness as it doesn't seam common enough.

[2015-08-18 02:44] #110 closed

[2015-08-18 02:44] #118 closed

[2015-08-18 07:57] kevina commented on #118
Thanks @biljir for your feedback.  I decided to go ahead and add potentiate.

[2015-08-18 08:03] kevina opened #119 "Consider removing berk from the American dictionary."
On issue #108 @biljir said:

And "berk" is currently in the en_US dictionary.

[2015-08-18 08:08] #112 closed

[2015-08-18 08:09] #108 closed

[2015-08-24 07:57] kevina commented on #116
I am going to put this one off to the next release.  When looking a lot of these words up it is very unclear how acceptable the run-together (i.e. with out a space or a hyphen) is.  For example when goggling "soundbar" it seams that the more common form is "sound bar".

[2015-08-24 11:45] marcoagpinto commented on #116
@kevina:

When I have a doubt I check the Oxford dictionary:
http://www.oxforddictionaries.com/definition/american_english/soundbar

But, yes, it is true that some words can be written in more than a way.

[2015-08-24 14:14] biljir commented on #116
Dictionaries differ wildly on these word forms (or wordforms or word-forms :) ). I have seen several dictionaries from reputable and respected publishers that will spell a headword in one of these ways, and then use some other spelling in all their examples!

I haven't found a dictionary yet which is always in tune with (what seems to be) the most common perspective on such words. The Oxford dicti

[2015-08-24 16:41] kevina commented on #116
@marcoagpinto There is no standard body for the English language and the Oxford is but one dictionary that I do not consider an authorize source for American English.

[2015-08-24 19:47] kevina commented on #114
I am handling Quran/Quranic using my standard policy far variants, that is only include one spelling in the main dictionary unless there is a very good reason to include two or the two spelling can not possible be confused with each other.  On the second point this is a border line case so I opt to keep it out.

Quran, Quranic, Qur'an, Qur'anic are now all included in the level 1 variant list and

[2015-08-24 19:48] #114 closed

[2015-08-25 13:15] marcoagpinto opened #120 "New words for US/CA - 2015-08-25"
Hello Kevin,

I have packed the English dictionaries for AOO and LO, plus my en_GB for Mozilla.

This month I won't release for AOO since they are going to release AOO 4.1.2 and it is bad to install it and it saying that there is dictionaries update.

I have already tested my en_GB's new words with the latest US/CA and here are the words not recognized:
sloganeer
sloganeers
slogger
sloggers
Otago

[2015-08-25 19:37] biljir commented on #120
Not a lot to say about this batch.

I don't consider utero an English word. It is a constituent of the Latin-derived phrase "in utero", and nothing more.

The following words seem the most valuable to me:
antiscience
newspeak (in some ESL dictionaries)
rhinoplasty
eldritch (probably the result of reading too much Lovecraft)
affordably
unrevealed
initialism
Chaplinesque

[2015-08-25 20:22] marcoagpinto commented on #120
@biljir

Yes, it is "in utero"... it is Latin... :)

I saw it in the Oxford dictionary.

[2015-08-27 02:50] Jehops opened #121 "Should the top line of the hunspell affix files be `SET UTF-8` instead of `SET UTF8`?"
When the top line of, e.g. `en-CA.aff`, has `SET UTF8` I see

    error: unknown encoding UTF8: using iso88591 as fallback.

When I change the top line to `SET UTF-8`, the error message doesn't appear and everything works fine.

On all *BSD and GNU/Linux system I checked, the locales had `UTF-8` with the dash.

[2015-08-27 03:12] Jehops opened #122 "hunspell can't handle words with an apostrophe (ascii 39) unless it's added to WORDCHARS"
hunspell 1.3.3 doesn't handle contractions or other words with an apostrophe with the current affix files.

[code]

After adding the apostrophe to WORDCHARS in the affix file.

[code]

Would it cause other problems to add an apostrophe to WORDCHARS?

[2015-08-27 04:11] kevina commented on #121
Most likely.  Although this might cause problems for Mozilla or Open/LibreOffice.

@ehsan If I recall Mozilla put a hack in place in change this line back to iso-8859-1.  Please be advised that this line will likely change to UTF-8 for the next release.

@mwichary Could you test this change, it is your patch that used "UTF8" for some reason.

[2015-08-28 03:44] nanake opened #123 "Add disassembly, disassembler, eldritch"
disassembly: http://www.oxforddictionaries.com/us/definition/american_english/disassemble#disassemble__10
disassembler: http://www.oxforddictionaries.com/us/definition/american_english/disassembler
eldritch: http://www.oxforddictionaries.com/us/definition/american_english/eldritch

[2015-08-29 20:20] kevina commented on #123
@biljir what do you know of "eldritch"?

As for as the other words I am planning on adding disassembly but not "disassembler" as that word is not very common.

[2015-08-29 20:30] biljir commented on #123
"eldritch" feels common to me because I'm a fan of HP Lovecraft, and he uses it a lot. If I factor that out, my guess would be that it is not that common a word. (Though Lovecraft IS very popular these days.)

[2015-08-31 05:23] kevina commented on #123
Thanks Alan.  I decided to add "eldritch".

[2015-08-31 05:23] #123 closed

[2015-09-02 14:00] ooker777 opened #124 "Can't run find-var in Windows"
Stupid question here. I have installed Strawberry to run the find-var in Windows. I try to run it by going to the directory and execute it by using:
`perl find-var 'word'`
But there is an error:
[code]

What should I do? Thanks.

[2015-09-02 19:21] kevina commented on #124
The "find-var" script is an internal script that it is really supported.

What are you trying to do?

[2015-09-02 21:31] ooker777 commented on #124
well, I read in the README that it is used to

But thinking back again, I don't think that simple task will need those much lines of code.

[2015-09-02 21:35] kevina commented on #124
You should't need to use those scripts.  Any files it generates should already be included in AGID.

[2015-09-16 12:44] lukeapage opened #125 "A few new words"
[code]

[2015-09-16 13:17] kvz opened #126 "These are words I missed"
resize(d | s)
filename(s)
checksum
(status ) quo
installable
ramping (up)
lossless
(Buenos )Aires
unoptimized
upscaling
Haskell

Although I realize some of these are highly debatable, I wanted to be complete and leave it up to you.

[2015-09-16 14:38] marcoagpinto commented on #121
Kevin, I noticed that too.

In my en_GB I have "UTF-8" :)

[2015-09-21 04:07] #121 closed

[2015-09-28 13:18] marcoagpinto opened #127 "New words for US/CA - 2015-09-28"
Hello Kevin,

Here are words missing in US/CA.

Kind regards,

       ---------------------

Emmental
Emmenthal
Redditor
Redditors
Reddit
subreddit
subreddits
manspreading
MacGyver
MacGyver's
Brexit
Brixit
awestricken
CVT
Europass
how'd
how're
can't've
couldn't've
how've
might've
mightn't've
shouldn't've
there're
this'd
wouldn't've
half-arse
anxiolytic
anxiolytics
clonazepam
hydrocodone
hydrocodon

[2015-10-01 17:52] biljir commented on #127
Kevin,

I have relatively little to say about this list of words.

The contractions are all common in speech. I must admit that mostly I've never seen these in writing, however. How'd and how're are the only ones that seem remotely common in writing. (But I don't think it would be a bad thing to add them all.)

Hiragana, katakana, kana and kanji are all important terms for talking about Japanese w

[2015-10-14 13:34] TinoDidriksen opened #128 "Fails when env PERL_UNICODE is set"
If envvar `PERL_UNICODE` exists, translate fails with:

    utf8 "\xFC" does not map to Unicode at varcon.pm line 170, <IN> chunk 2339.
    Malformed UTF-8 character (unexpected end of string) in substitution (s///) at varcon.pm line 161, <IN> line 2339.
    Malformed UTF-8 character (fatal) at varcon.pm line 161, <IN> line 2339.

We normally run the whole machine with `PERL_UNICODE=SDA`, and had

[2015-10-14 19:41] kevina commented on #128
Please try changing the first line to:

[code]
and let me know if this solves your problem.

[2015-10-26 21:29] marcoagpinto opened #129 "New words for US/CA - 2015-10-26"
Hey hey hey,

I have entered feature freeze on en_GB.

Here are the words not recognised in US/CA.

Please notice that some may be British only.

Thanks!

========

affordance
roofline
rooflines
repurpose
repurposes
repurposing
repurposed
collotype
collotypes
biosensor
biosensors
radiotracer
microsphere
microspheres
radiotoxicity
radiotoxic
radiothorium
radiothermal
radiotherapeutically
radiotelex

[2015-11-02 14:43] vogella opened #130 "Add Gradle for US/UK word list"
Gradle

should be added. It is a popular Java build tool. I check your list and AFAICS it is not yet included.
https://github.com/marcoagpinto/aoo-mozilla-en-dict/blob/master/en_GB%20(Marco%20Pinto)%20-%202.30%20-%202015-11-01/en-GB.dic

preconfigure and preconfigured

Checked http://www.oxforddictionaries.com/definition/english/preconfigure?q=preconfigure  for Britisch and http://www.oxforddictio

[2015-11-10 08:16] marcoagpinto commented on #130
@vogella

I have just added it to en_GB:
9272) Gradle (+'s - name - Wikipedia)

The other two words, "preconfigure" and "preconfigured" were already there.

Thanks!

Kind regards,

[2015-11-23 17:55] rspldng opened #131 "hunspell 1.3.3 does not recognize "SET UTF8", it wants "SET UTF-8" only"
The most recent release of hunspell, 1.3.3, does not recognize the SET value in en_US.aff. For UTF-8, it requires that the hyphen be included in the encoding name. This seems to affect at least two things: the ICONV directive regarding apostrophe substitution does not work because hunspell does not parse the UTF-8 value for the Unicode "right single quote mark"; and a program calling the hunspell

[2015-11-23 17:59] kevina commented on #131
Duplicate of #121.

Fix will be in next release which should be out something in the next month.

[2015-11-23 17:59] #131 closed

[2015-11-25 13:45] IhInspiration opened #132 "Hello"
Hello,I want to know how to use this wordlist.Can you tell me?Thank you.

[2015-11-27 16:49] marcoagpinto opened #133 "New words for US/CA - 2015-11-27"
Hello!

Here is the monthly words missing in US/CA.

Please notice that some may be GB only.

Kind regards,

       ---------------------

Euroclear
Euroconnector
Euroconvertible
blackcap
blackcaps
gonolek
gonoleks
shoebill
shoebills
cornmill
ropemaker
ropemanship
ropesight
campanulate
umbo
umbos
umbones
umbonal
umbonate
invagination
invaginations
invaginate
invaginated
chondrocyte
chondrocytes
ch

[2015-11-28 18:09] kevina commented on #132
This is not the place to submit support requests.

[2015-11-28 18:09] #132 closed

[2015-11-28 18:14] #128 closed

[2015-12-25 12:15] marcoagpinto opened #134 "New words for US/CA - 2015-12-25"
Hello Kevin,

I have entered feature freeze for the forked en_GB.

Here is the list of words missing in US/CA (599 words):
Horatian
explicator
explicatory
Palladian
Palladianism
Orcadian
Orcadians
Trumland
Caithness
Caithness's
Rousay
Rousay's
Shapinsay
Shapinsay's
Oddie
Oddie's
Govan
Govan's
overanalysis
overanalyse
overanalyses
overanalysing
overanalysed
diegesis
diegeses
diegetic
Harring
Harrin

[2015-12-30 19:48] jorgk3 opened #135 "The word's "children's" doesn't appear to be in the en_US and the en_US-large dataset."
http://app.aspell.net/lookup?dict=en_US-large&words=children%27s

https://www.google.com.au/?gws_rd=ssl#q=children%27s - 628,000,000 results

I inspected en_US.dic and en_US-large.dic of 2015.08.24 and they have:
	Line 14468: brainchildren
	Line 16158: children
	Line 24868: godchildren
	Line 25050: grandchildren
	Line 40028: schoolchildren
	Line 42877: stepchildren

	Line 23394: brainchildren
	Lin

[2015-12-30 20:15] kevina commented on #135
This is related to issue #100.  Will fix underlying bug or add another hack like I did in #100.

[2016-01-01 20:31] jorgk3 opened #136 "34 nouns don't have their possessive form at the same level"
I have been analysing the words that are contained in the Mozilla-maintained dictionary but which are not contained in SCOWL level 60 or 70 data.

The following 34 possessive forms are contained in SCOWL at level 80 or above or not at all

admin's
adware's
antivirus's
auteur's
botnet's
chickenshit's
children's
deconstructionist's
discountenance's
fuckhead's
greybeard's
greyness's
hexane's
indoor's

[2016-01-01 21:08] marcoagpinto commented on #136
@jorgk3
@kevina

I am following the cases here and doing the en_GB part whenever it is possible :)

In January I want to work on this:
http://www.oxfordlearnersdictionaries.com/wordlist/
3000 + 3000 words (most important ones + academic ones)
Notice that it has two options: British and American, which means it can be used also by Kevin.

I will probably be around a week on vacation and I am not su

[2016-01-01 21:15] marcoagpinto commented on #136
@jorgk3

Most of the possessive forms above can't be found on my en_GB but they are kind of strange, so I will have to look for them before adding.

[2016-01-01 22:10] jorgk3 opened #137 "New proposed words from Mozilla dictionary"
I have been analysing the words that are contained in the Mozilla-maintained dictionary but which are not contained in SCOWL level 60.

The following 337 words are either already contained in SCOWL or have a promising rating to be included. Where they are included at level 70, Mozilla would appreciate having them promoted to level 60, since this is the level Mozilla is using. This way, Mozilla wou

[2016-01-01 23:18] kevina commented on #136
For some of the words such as "indoor's" I do not see the possessive form as being very useful, others I will add such as "admin's".  Although it is probably possible to construct a sentence that uses any noun in a possessive form, the said can be said for the plural form on uncountable nouns (examples: "mud", "rayon", "oregano", "chess", "fairness", "integrity", "aluminum", "materialism" and "chi

[2016-01-01 23:29] jorgk3 commented on #136
I agree.

Some of the possessive forms in the Mozilla dictionary are most likely caused by an error, like "remind's". Looks like "indoor's" is invalid, since "indoor" is an adjective and not a noun, as far as I can see. If you let me know which ones you won't add, I can remove them from the Mozilla dictionary as well.

Funny thing about "indoor's" - you already have it:
http://app.aspell.net/looku

[2016-01-01 23:38] kevina commented on #136
The 95 level has zero quality control.  It contains lots of garbage that I have no indention of cleaning up.  The 80 level is the highest level that should be relied on.  Why is "indoor's" in the 95 level I have no idea.  Maybe someone thought it was a noun.  A better word that I might not add a possessive for to is "screenshot" or "antivirus".

[2016-01-01 23:48] kevina commented on #137
Expanded and sorted list: [res.txt](https://github.com/kevina/wordlist/files/76080/res.txt)

Will do additional processing later.

[2016-01-02 08:02] jorgk3 commented on #137
Thanks a lot for considering the Mozilla input.

[2016-01-02 09:02] jorgk3 opened #138 "Many "useful" words removed from level 60"
I've looked at the development of the Mozilla en-US dictionary. Between version 31 and version 45, many "useful" words got removed from the Mozilla dictionary. The removal happened in Mozilla bug 1137544 in April/May 2015.

I enclose a list of the removed words, sadly, there are 5670.

I can't do a full analysis, so I'm just picking a few common words at random that IMHO should be included at leve

[2016-01-03 13:47] jorgk3 opened #139 "Add "naïve" to the dictionary"
The word "naïve" was requested in Mozilla bug 1144254:
https://bugzilla.mozilla.org/show_bug.cgi?id=1144254

I believe it has validity as a variant of "naive", see for example:
https://en.wiktionary.org/wiki/na%C3%AFve
https://en.wikipedia.org/wiki/Naivety

I propose to add the following words to the dictionary:
naïve
naïvely
naïveness
naïvety
naïveté

Edited later: "naïveness"/"naiveness" is ques

[2016-01-04 02:53] kevina opened #140 "taxons is a variant of taxa (plural of taxon)"

[2016-01-04 10:23] jorgk3 opened #141 "Wrong possessive forms"
In Mozilla bug 1235506 (https://bugzilla.mozilla.org/show_bug.cgi?id=1235506) I've been working on removing 342 incorrect possessive forms from the Mozilla maintained dictionary, like for example "remind's". We never understood where these form originated.

Now I have compared the 2007 version of the Mozilla dictionary with my proposed corrected version and still found some incorrect possessive fo

[2016-01-04 18:34] kevina commented on #141
How was this list generated?  Some of the words possessive forms are valid such as "zookeeper's".

[2016-01-04 19:54] jorgk3 commented on #141
Sure, most likely most of the words in the list are valid. But there are also problematic ones, like "him's", etc.

How was the list generated:

List 1 = expanded current Mozilla dictionary (which is essentially SCOWL 2015.08.24 + 6000 proper names + 37 Mozilla-tems + 337 extra words (issue #137) + some extra possessive forms (issue #136)) + 353 erroneous words I'm trying to clean up.

List 2 = li

[2016-01-05 23:03] kevina commented on #141
The basic problem is that I simply don't have a good source for when a word reasonable has a possessive form.  For example "above" can be a noun and thus without any additional information it is assumed it could have a possessive form.  Frequency information could help but most corpus will split any word with a "'" into two, thus I must must use at least 2-grams and recombine them.

I will keep th

[2016-01-05 23:06] jorgk3 commented on #141
Above can be a noun?
http://www.merriam-webster.com/dictionary/above says it's an adverb.

What about
her's
him's
give's
get's
?

[2016-01-05 23:30] kevina commented on #141
Yes "above" can be a noun so can "give" or "get".  There is an entry it at www.merriam-webster.com you just need to scroll down.  There is even a usage note for above.  Now the noun form may not be very common, but this is just not information I have available to me right now.

For "him" and "her", well my source, [2of12id](https://github.com/kevina/wordlist/blob/master/alt12dicts/2of12id.txt) in

[2016-01-05 23:31] kevina commented on #141
More to the point.  Cleaning up this list will require a lot of manual work.  There is no automatic way to handle this apart from frequency analysis, which in and of itself is a lot of work.

[2016-01-05 23:43] biljir commented on #141
Yes, him and her (and also he and she) can (uncommonly) be used as a noun, generally with the meaning "male animal" or "female animal". A canonical sentence is "That dog isn't a him; it's a her!"

[2016-01-06 00:06] kevina commented on #141
@biljir, can you ever see those words used in a possessive form?  What about "above, "give" or "get"? Also, can you see "hims" or "hers" having a usage?

[2016-01-06 00:32] biljir commented on #141
hims/hers are just possible. "Those puppies are all hims". Him's and her's seems really unlikely, though not absolutely impossible. her's in particular is more likely to be an incorrect spelling/misunderstanding of hers than a real possessive.

above's seems within the realm of possibility. "I'm one of None of the Above's supporters." give, probably not. And get as a noun is somewhat archaic - I d

[2016-01-06 07:49] jorgk3 commented on #141
IMHO, you're arguing hard to maintains some very uncommon possessive forms, speaking of "not absolutely impossible" and "realm of possibility". If this is the case, then the possessive forms I requested in issue 136 should indeed join their root words at the same level. IMHO all these forms except "indoor's" have more validity than "above's".

[2016-01-09 05:00] kevina commented on #130
Thanks for the suggestion.

None of those words seam common enough to warrant inclusion.

I will include the names of popular programming languages but not the names of the various tools used for them, unless they are extremely common.  Words like "Eclipse" and "Maven" but they are both normal words anyway and hence the lower case version is added.

[2016-01-09 05:00] #130 closed

[2016-01-09 05:01] #125 closed

[2016-01-09 05:01] #126 closed

[2016-01-09 05:04] kevina commented on #136
I attempted to add the possessive forms for some of these words but due to the way possessive forms are added in my build scripts there are still some words such as "admin" that don't have a possessive form.

Will clean this up later.  Clearing 2016-01 milestone.

[2016-01-09 08:02] kevina commented on #137
I added a few.  A good number are in the dictionary but are considered variants.  Here is what is left:

absorbances
absorbancy
absorbancy's
actin
advocator
advocator's
advocators
adwares
aggregator
aggregator's
aggregators
alkoxy
anecdotally
anonymization
anonymization's
anonymizations
anonymize
anonymized
anonymizes
anonymizing
anthropomorphize
anthropomorphized
anthropomorphizes
antisense
apato

[2016-01-09 13:09] biljir commented on #137
Quite a lot of them actually. Two lists, one of words worth adding with all their forms, and then one where only the plural form appears on the list (presumably because the singular has already been added). These are based on my idea of words that Mozilla ought to recognize, not on the much more limited 12dicts vocabulary.

anthropomorphize
blowjob (more often one word than two)
court-martial (the

[2016-01-09 14:40] jorgk3 commented on #137
I'm glad you finding some "useful" words amongst the Mozilla suggestions.
Personally I think "anecdotally" should be promoted from the large size to the normal size.

How about
rootkit/SM - https://en.wikipedia.org/wiki/Rootkit
wildcard/SM - https://en.wikipedia.org/wiki/Wildcard_character ?

And since you already have "showtime", why not add "showtimes"?

I've just noticed that in techie circles

[2016-01-10 02:51] kevina commented on #137
Thanks @biljir, I added nearly all your suggestions but court-martial as I do not include hyphenated words and even if I did, both court and martial are words already in the dictionary.  A added a few plurals, adding the others will be difficult for technical reasons but i intend to revisit the issue.

@jorgk3 I added anecdotally rootkit/SM and wildcard.  I looked up the compound words and added a

[2016-01-10 02:51] #137 closed

[2016-01-10 03:00] kevina commented on #136
Closing but labeling as "to revisit" to come back sometime and make sure the all the words in add-possessive really get the possessive forms added.

I am strongly leaning towards putting everything in a real database, this issue will get fixed then if I do.

[2016-01-10 03:00] #136 closed

[2016-01-10 03:31] kevina commented on #129
@biljir have anything to say about these?

[2016-01-10 03:31] kevina commented on #133
@biljir have anything to say about these?

[2016-01-10 03:32] kevina commented on #134
@biljir have anything to say about these?

[2016-01-10 12:20] biljir commented on #137
Do you have "martial" as a verb (which, as a standalone word, it would not be)? If not, then court-martialed and court-martialing will not be accepted.

[2016-01-10 22:02] kevina commented on #138
@jorgk3, I have not found anything in that list that I really think needs to be added.  If you go though the list and can submit a smaller list of words you think should be added I will run it past Alan (as he has a much better vocabulary than I do) to see what he thinks.  As it stands now it is not on track to be considered for the 2016-01 release.

[2016-01-10 23:51] kevina commented on #137
Thanks Alan for pointing that out.  You are right I do not have "martial" as a verb.  Unfortunately, I do not support hyphenated words in SCOWL yet so there is no way to add it just yet.  See issue #66.

[2016-01-10 23:51] jorgk3 commented on #138
Sorry, I cannot possibly review 5670 words. I've already picked a few at random above.

May I suggest you put those 5670 words into http://app.aspell.net/lookup-freq and include everything with three stars or more. Just looking up the stars for the words I picked:
enrobed **
extremal ***
relict ***
residuary ***
enforceability ***
yoghurt ***
codename ***
codeword ***
bedlinen **
unreproducible **

[2016-01-11 00:11] kevina commented on #138
I also removed a number of invalid words by this change.  We are going to have to agree to disagree on the priorities here.  I also somehow get a felling you don't really understand how SCOWL is created or it's history.  I have not personally reviewed most of the content in SCOWL I get words from other sources and combine them.  One of those sources ended up being unreliable so I removed it.

Sorr

[2016-01-11 00:24] kevina commented on #138
@jorgk3, I also find it interesting that you highlighted "The removal of otherwise useful words is unfortunate", when the rest of the sentence is the most important part when I say "I think it is more important not to include invalid words."  This will seam to indicate that you put a higher priority on including "useful" words than you do on not include invalid and misspelled words.

[2016-01-11 07:54] jorgk3 commented on #138
Quite correct. I started looking at the Mozilla dictionary issues on 27 Dec. 2015. So all I know I learned in the last two weeks ;-)

On the issue of priorities: I believe that from a user point of view marking a common word as a spelling mistake is quite bad. If it happens to me, I'll say: Oh, what a low quality this dictionary has, it doesn't even know such-and-such. That's why for the last two

[2016-01-11 08:15] kevina commented on #138
The Google book corpus is far from perfect.  There are some errors for example lookup "teh" (its a 3 star word) but more important there is a large bias towards technical terms in various fields.  Thus, I only use it as a guide.  The list will still need manual review.  I just checked and the number of words that are 3 star or better is around 2400.  Still way to many to manually review.

To be co

[2016-01-11 08:38] kevina commented on #138
Frequency data can only act as a guide.  For example the word "teh" is a 3 star word.  Each word needs additional verification to see why it is in the corpus.  In addition to misspellings some words may also be British spellings or variants that I do not have an entry for VarCon yet.  Some may also be way to close to a far more common word.  In addition, the Google book corpus is also far from per

[2016-01-11 12:49] biljir commented on #138
My involvement with this project is only as a "word advisor", but I'm going to step outside that box for once  and make a comment anyway. Which is that if a dictionary is used as a source of suggestions for correction, or to drive auto-correction, then it is clearly very bad for the dictionary to contain any misspellings. One of my personal spelling bugaboos is the word "weird": If a correction al

[2016-01-11 15:09] biljir commented on #129
Words from this list I find worthy of consideration (plus inflections unless otherwise mentioned):

Aquarian
dognapper
unshockable
speargun
geckoes (alternate plural)
workperson (I've only encountered the word in the singular and possessive - I don't know whether workpersons or workpeople is the preferred plural)
underappreciated
tachyon

[2016-01-11 15:12] biljir commented on #129
Marco,

If you don't mind me asking, what is your methodology for coming up with these lists of words, especially the proper names? You seem to have an endless supply of them!

[2016-01-11 15:32] biljir commented on #133
Words worth considering from this list:

counterpetition (noun and verb inflections should be included)
IIRC (If SCOWL believes in including text-speak)
weakish
pneumococcus/i/al

Two other words worth discussing:

ISIS. It's not an all clear what the ultimate name of this "state" is going to be. Both ISIS and ISIL are common, and Daesh is an up-and-coming designation. It may be premature to selec

[2016-01-11 15:51] biljir commented on #134
Words from this list worthy of consideration/discussion:

BlackBerry - as a noun. I don't know how common the verb is.
Dostoyevsky - Apparently SCOWL thinks this is an alternate spelling. It appears that Wikipedia disagrees. It seems like the right spelling to me, but I see my own private list of names spells it Dostoevsky, so apparently when I compiled that list I disagreed.
suboptimum
Jap - One

[2016-01-11 16:02] marcoagpinto commented on #129
@biljir

It is easy: When I paste text from sites or other sources into Thunderbird using my en_GB in order to see the missing words, I then search for the words in the site of the Oxford Dictionaries.

Every time a word is shown as valid in Oxford I copy/paste the whole examples into Thunderbird and see the derivations to add to en_GB. Then, I also find other missing words and do the same (a loop

[2016-01-11 17:29] lukeschlather opened #142 "New words for en"
millennia
mage

rebreather

transperson
transpeople
transwoman
transwomen
transman
transmen

[2016-01-11 20:38] kevina commented on #142
I will add mage, millennia should be there.

@biljir, I notice this line in 2of12id.txt:
[code]
Is there a reason that you chose millenniums over millennia as the plural?

Also what do you thing about these other words.  Do you think the "trans" words are common enough as one word to warrant inclusion?

[2016-01-11 20:47] kevina commented on #133
@biljir, Googling counterpetition seams to suggest it is two words or spelled with a dash.  Do you think the one word form in common enough for inclusion

[2016-01-11 21:55] biljir commented on #142
Of the 12 12dicts dictionaries, 7 preferred millenniums, and 4 preferred millennia (2 of which did not list millenniums at all).

No, I do not think these trans- words are that common.

[2016-01-11 22:01] biljir commented on #133
My (admittedly brief) research on this word in various dictionaries did not turn it up in any form other than the single word form. The two-word form seems improbable to me, though of course sometimes such guesses are wrong.

It could be a British-American difference. Often British English hyphenates words with a prefix where American English does not. (I didn't consult any British dictionaries wh

[2016-01-11 22:10] #142 closed

[2016-01-11 22:11] kevina commented on #142
Thanks Alan for you feedback.

[2016-01-12 02:51] #116 closed

[2016-01-12 02:51] #120 closed

[2016-01-17 07:58] kevina commented on #127
I added how'd and how're, the other contractions I am going to punt on.

I adding Hiragana, katakana, kana and kanji, but will pass on and superphylum as it doesn't have a very high frequency in the google book corpses.

I am going to pass on the -bi- words for now but added opcode(s).

I currently have Combatted and combatting as a level 2 variant.  I will revisit the issue and maybe promote to a

[2016-01-17 08:10] kevina commented on #129
Thanks Alan, I added all your suggestions except workperson.

[2016-01-17 08:20] kevina commented on #133
I added many of your suggestions.

I will come back and reconsider IIRS later.

[2016-01-17 08:32] kevina commented on #134
Thanks Alan, I added BlackBerry and Jap.

I will revisit Dostoyevsky.

[2016-01-17 08:33] #129 closed

[2016-01-17 08:33] #133 closed

[2016-01-17 08:33] #134 closed

[2016-01-17 08:35] #127 closed

[2016-01-17 22:55] jorgk3 opened #143 "Is there a reason why sometimes uppercase *and* lower case word are kept, at times in different SCOWL sizes."
Try these six:
anglicize
Anglicize
book
Book
dog
Dog

http://app.aspell.net/lookup?dict=en_US;words=anglicize%0D%0AAnglicize%0D%0Abook%0D%0ABook%0D%0Adog%0D%0ADog

[2016-01-17 23:12] kevina commented on #143
I generally don't add uppercase words if the lowercase word exists, however sometimes in my sources both a lower case and upper case version can be found in which case both may get added.

In some cases  this is helpful, when a word is both a common proper name and a normal word, especially if the normal word is not a noun.  In other cases it might not make sense and need to be cleaned up as in th

[2016-01-17 23:12] #143 closed

[2016-01-19 06:51] kevina commented on #135
I decided to add another hack for now.  Might revisit the issue at a later date.

[2016-01-19 06:51] #135 closed

[2016-01-21 14:38] ehsan opened #144 "Error: The file ".../eng_affix.dat" is not in the proper format. Expected the file to be in "iso-8859-1" not "utf8"."
I got this when updating Mozilla to the latest SCOWL.  This is me following the usual instructions after making [this change] (https://bugzilla.mozilla.org/show_bug.cgi?id=1240916#c0).

Full log:

[code]

If I had to guess, I would expect that this is somehow related to b20e89147c5cab20200d636c059a0512634b784d.

[2016-01-21 19:23] kevina commented on #144
This turned out to be a problem with the downstream scripts I wrote for you.  Closing this so be can handle the issue on Bugzilla (https://bugzilla.mozilla.org/show_bug.cgi?id=1240916).

[2016-01-21 19:23] #144 closed

[2016-01-21 20:17] jorgk3 opened #145 "Some new words are missing derived forms"
Recently a few words were added to SCOWL which had come from Mozilla suggestions.

For many of these newly added words, derived forms (plural, possessive or conjugated forms) should have also be added, but weren't:

These words are clearly missing:
blowjob's
blowjobs
cultivar's
disassembly's
exon's
exons
guestbook's
guestbooks
hijabs
meetup's
meetups
recused
recuses
recusing
reductase's
screensave

[2016-01-21 20:43] kevina commented on #145
See https://bugzilla.mozilla.org/show_bug.cgi?id=1240916 for context.

[2016-01-21 21:09] jorgk3 commented on #145
Actually, I went through the whole list of changes to the Mozilla-added words and gave you a complete list of all the derived forms you missed when adding new words.

[2016-01-22 08:39] jorgk3 opened #146 "Error in munch-list"
[code]

Can you spot it?

[2016-01-22 09:59] kevina commented on #146
Yes, although you should always quote code blocks to avoid formatting issues.  I had to go back to the source to figure out what was going on.

Will fix.

[2016-01-22 10:20] jorgk3 commented on #146
Sorry, I thought it was obvious. Opening file with name $affix_fn and trying to print something else in the error message. Since I spend half my day on BMO, I'm not used to "Markdown" if that's what you're referring to with "code blocks".

[2016-01-22 19:53] kevina commented on #146
Yes,  Without quoting the code block this is what renders:
[code]
Notice the missing `<F>`.

[2016-01-25 12:55] marcoagpinto opened #147 "New words for US/CA - 2016-01-25"
Hello Kevin,

I have entered feature freeze for my forked en_GB and have already packed the dictionaries for Mozilla/AOO/LO.

I tried the 1622 new words I added to GB in AOO using your most recent US.

Here are the words that appear as typo:
absorbancy
carboxylate
carboxylates
carboxylated
carboxylation
oxyanion
oxyanions
xanthene
protonate
protonated
protonation
oxaloacetate
oxalacetate
advocator

[2016-01-25 12:55] marcoagpinto commented on #147
Changelog:
V2.33 - 1-FEB-2016
------------------
10004) absorbancy
10005) acetyl
10006) carboxylate (+plural +ed)
10007) carboxylation
10008) oxyanion (+plural)
10009) xanthene
10010) protonate (+ed +ion)
10011) oxaloacetate + oxalacetate
10012) acyl
10013) advocator (Collins)
10014) advocatory
10015) alkoxy
10016) alkoxyl
10017) archaeologic
10018) archaeomagnetism
10019) astro-archaeology
10020)

[2016-01-28 04:19] client9 commented on #122
re: Would it cause other problems to add an apostrophe to WORDCHARS?

If you write "regular proper English" it might work well for you.  But,  it has the side effect of marking any non-regular use of single quotes as incorrect.

[code]

[2016-01-28 05:09] client9 commented on #122
Got it!!

I've been reading the hunspell source code (good times), in particular the parser.  It has all sorts of special cases for apostrophe ascii (0x0039) and apostrophe unicode  (0x2019) versions.

As mentioned above, adding 0x0039 to `WORDCHARS` fails since it start to mark many previously correct texts as incorrect.  This is a problem since many technical texts use single codes as

However,

[2016-01-28 05:29] kevina commented on #122
@client9 Please get into contact with the the OpenOffice/LibraOffice folks to figure out what work's best with there implementation of Hunspell.

[2016-01-28 06:04] client9 commented on #122
Hi @kevina do you have any contacts over at OpenOffice/LibraOffice.  I just bumped into this world of spelling by accident by working on a go-lang mini version of hunspell  https://github.com/client9/gospell

for those watching, the code in hunspell has the following

[code]

* We have at least one of more word-chars already (like the "didn" in "didn't")
* and regular apostrophe is NOT a word-char

[2016-02-26 02:54] marcoagpinto opened #148 "New words for US/CA - 2016-02-26"
Hello!

I have entered feature freeze on en_GB to be released on Monday.

Here are the words not in US/CA.

Please notice that some are British.

Kind regards,

         ---------------------

Towler
Towler's
Tkáč
Walgreens
Walgreens's
drugster
drugless
druggish
Bisset
Bisset's
oftens
hoffens
hoftens
ofens
offance
offens
offins
off'ns
off'nce
offt'ns
Ofwat
studenty
Woolcock
Woolcock's
Eckhart
Eckh

[2016-03-03 15:20] paul-b-g opened #149 "Contractions with 've"
Dictionary appears to recognize all English contractions with straight apostrophes fine, but not contractions of "have" to "ve" when curly apostrophe (U+2019) is used:
I’ve You’ve We’ve They’ve
you’ve we’ve they’ve
Could’ve Should’ve Would’ve Might’ve Must’ve
could’ve should’ve would’ve might’ve must’ve

[2016-03-10 07:59] kevina commented on #148
As always, thanks for the list.

[2016-03-10 10:31] marcoagpinto commented on #148
@kevina
As usual, the release notes are in:
http://marcoagpinto.cidadevirtual.pt/en_GB_CHANGES.txt
look for "V2.34".

[2016-03-19 16:47] tyngdekraften opened #150 "There is a missing word!"
Hello.

I was peacefully writing a comment in Firefox with the official US spellchecker which use your database, but suddenly I wrote a word that wasn't supported.
https://addons.mozilla.org/en-US/firefox/addon/3497

The word is "convolutional", even if you already have the word "convolution", this one have been forgotten.
https://u.pomf.is/mpkygv.png

If you don't know what it mean, here is the w

[2016-03-20 00:03] kevina commented on #150
I hardly consider a missing work "shameful".

The missing word in questions seams rather technical in nature.  It has a low frequency in the Google book corpus, but no so low that I won't consider adding it: http://app.aspell.net/lookup?dict=en_US;words=convolution%0D%0Aconvolutional. @biljir what do you think of the word "convolutional".

[2016-03-20 00:47] biljir commented on #150
I'm not ashamed of not having it in my lists. Certainly there is nothing special about it. It's an ordinary obscure little-used word.

[2016-03-21 21:11] fiveop opened #151 "inspectional and synoptical are missingin aspell en_US"
As the title states the words inspectional and synoptical are missing (http://app.aspell.net/lookup?dict=en_US;words=synoptical%0D%0Ainspectional).

I only found the information at http://wordlist.aspell.net/contrib/ regarding contributions. The context still leaves me in doubt, whether this is the right place to report words for the aspell dictionary or some other (related) wordlist. In addition,

[2016-03-21 21:24] kevina commented on #151
This is the right place to report them.

There is no hard and fast rule although those words do not seam that common.

@biljir, what do you think of these words.

[2016-03-21 21:33] biljir commented on #151
Pretty obscure. I don't recall ever having encountered these words. synoptical appears to be a synonym for synoptic, and was in several of the dictionaries I checked. (And "synoptic" I _have_ seen before.) "inspectional" was in only one of the dictionaries I checked, and had no definition. I'm having a little trouble imagining how it would be used.

[2016-03-21 21:38] fiveop commented on #151
My encounter with the words was in the book 'How to Read a Book' by Adler. He uses it as  adjectives for reading as a noun.

On March 21, 2016 10:33:37 PM GMT+01:00, Alan Beale <notifications@github.com> wrote:

[2016-03-21 21:38] kevina commented on #151
Okay, thanks.  Thanks for the suggestion @fiveop.  Since there are not very common I think I will pass on including these.  If you feel strongly otherwise feel free to reopen this issue.

[2016-03-21 21:38] #151 closed

[2016-03-31 05:31] marcoagpinto opened #152 "New words for US/CA - 2016-03-31"
Hello!

The monthly missing words.

You can see detailed information here:
http://marcoagpinto.cidadevirtual.pt/en_GB_CHANGES.txt
(V2.35 - 1-APR-2016):
Kassner
Kassner's
Hohlbein
Hohlbein's
Hanemesis
cleanskin
cleanskins
Haverhill
Haverhill's
Bittinger
Bittinger's
Boccherini
Boccherini's
athematic
isochromatic
dalmatic
dalmatics
hypostatic
piratic
prelatic
prelatical
sylvatic
miasmatic
miasmatical

[2016-04-07 01:37] kevina commented on #150
Sorry, but I don't think this word is worth adding.  Closing.

[2016-04-07 01:37] #150 closed

[2016-04-18 20:54] Terrilocks opened #153 "Missing word GB - buses"
As the title, the word "buses", as in plural of bus, is missing from the GB -ise and -ize Hunspell word lists.
It is in the US list however.

Seems funny making an issue for a single word, but hope it helps!

[2016-05-19 01:43] thebearon opened #154 "incorrect stems found for derivative words"
LibreOffice makes the following incorrect suggestions based on the latest dictionary/thesaurus:
-hoping -> jump, jumping, hops, vine etc.
-hopping -> (none)

We looked into it with Marco in relation to the UK dictionary, and it happens because the affix switches aren't correct, and "hoping" is listed as a derivative of "hop," thus when it tries to find the stem, it finds the wrong one, which is us

[2016-05-19 03:28] kevina commented on #154
I'm sorry, but I do not consider this a bug.

The English dictionary uses a simpler affix than what is used by the British dictionary that Marco uses.  The affix file used has no rule for double consonants.

It is also mechanically generated from a list of expanded words and the only guarantee I make is that the "munched" list will expand to the same set of words.  To make this more clear this lis

[2016-05-19 03:45] kevina commented on #154
Note.  I just tried that mini list with Marco's affix file and the results are
[code]
Without manual patching the other thing I can try is to tell `aspell munch-list` to keep all affix flag for words that are valid.  This will lead to:
[code]
This still might not always lead to grammatically correct results, but it might be more useful for the thesaurus.

Any solution will have to involve creating

[2016-05-19 05:20] kevina commented on #154
Note, I might be willing to do some manual patching, but I make no promises that all the stems will be correct.  I can change the original munched results to:
[code]
to
[code]
And perhaps other ones as required.  I am not sure when I will be able to get to this though.

[2016-05-19 05:56] thebearon commented on #154
I see, thanks for the clarification, and for giving this problem a thought.
Given that this dictionary is created for spell checking, and will never be fully suitable as a basis for the thesaurus, I don't know what would be the best way for LO to proceed, but I'll let the others know about the situation.

[2016-05-19 06:32] kevina commented on #154
Note if you want to due pure mechanical lookup than have a look at 2of12id from the alt12dicts package (http://wordlist.aspell.net/alt12dicts-infl-readme/).  The lemmatized 12dicts lists from the official 12dicts word lists might be useful two.  See http://wordlist.aspell.net/12dicts/.

I believe other software such as WordNet uses a rule based system for stemming and uses an exception list for ex

[2016-06-08 04:48] kevina commented on #152
@biljir have anything to say about these words

[2016-06-08 04:49] kevina commented on #148
@biljir have anything to say about these words

[2016-06-08 04:49] kevina commented on #147
@biljir have anything to say about these words

[2016-06-08 05:06] #153 closed

[2016-06-08 05:10] kevina commented on #149
@paul-b-g Sorry for taking so long to get back to you.  This looks like an issue with the spell checker.  There is already a rule for the  curly apostrophe in the affix file for Hunspell.

What spell checker are you using?

[2016-06-08 05:10] #149 closed

[2016-06-08 05:15] #146 closed

[2016-06-08 05:16] #124 closed

[2016-06-08 05:21] paul-b-g commented on #149
Wish I knew. It's the US English one built into SeaMonkey 2.40, and I can find no way to identify it.
User agent: Mozilla/5.0 (Windows NT 6.1; WOW64; rv:43.0) Gecko/20100101 Firefox/43.0 SeaMonkey/2.40
Build identifier: 20160120202951

[2016-06-08 05:30] kevina commented on #149
File the issue with SeaMonkey.  Support is already there, but they might not be using a new enough version.  It could also be that they are using an ISO-8859-1 version of en_US rather than the UTF-8 as at least Firefox had problems with the UTF-8 encoded affix file.

[2016-06-08 17:20] biljir commented on #147
I'm a bit confused by "here are the words that appear as typo". So I can't tell if this is a positive list or a negative list, but "Rodenberry" sure looks like a misspelling of "Roddenberry".

Here are the words that struck me as of most value:

djinn
misdate (and inflections)
phallocentric (and related)
guestbooks (I presume the singular is already present)
chatroom(s)
Brahmin (though confusion w

[2016-06-08 17:35] biljir commented on #148
Not a lot to say here. countermelody(ies) and countermove(s) seem worthwhile.

[2016-06-08 17:45] biljir commented on #152
Recommended: ransomware (unfortunately), specced, speccing, Zika, multigrain

[2016-06-09 16:58] marcoagpinto commented on #147
@biljir

I have just checked and "Rodenberry" is wrong.

The correct is: "Roddenberry"

Thanks for noticing.

[2016-06-24 21:30] kevina commented on #147
@biljir, thanks for your feedback, as a quick note, I greatly prefer simple lists for example rather than:

I would prefer:

[2016-06-24 21:37] kevina commented on #147
Note: Note including "misdate" (not that common), "pho" (too close to the more common "phi", also short words really add noise to the suggestion list).

[2016-06-24 22:06] biljir commented on #147
Not really disagreeing here, but ... phi and pho are pronounced really differently, and I don't think that a person accepting either one as a good spelling of the other is all that likely. Phi may indeed be more common than pho, but because phi is primarily used in scientific text, I suspect Google books overestimates its frequency.

It also probably doesn't matter much - I expect users of both ph

[2016-06-24 22:11] kevina commented on #147
"djinn" is a variant of "jinni" which is already included

"Brahmin" like you said can be confused with Brahman adding it at the large level.

[2016-06-24 22:13] kevina commented on #147
@biljir according to COCA http://corpus.byu.edu/coca/
[code]
I will include pho in the larger level.

[2016-06-24 22:30] kevina commented on #147
weaponize and inflections are already in the list and I'll pass on "WTF" for now

See my commit for the final list on what's added

[2016-06-25 00:21] kevina commented on #152
Thank you both.  Please see the commits for exactly what I ended up adding.  Closing.

[2016-06-25 00:21] #152 closed

[2016-06-25 00:21] kevina commented on #148
Thank you both.  Please see the commits for exactly what I ended up adding.  Closing.

[2016-06-25 00:21] #148 closed

[2016-06-25 00:21] kevina commented on #147
Thank you both.  Please see the commits for exactly what I ended up adding.  Closing.

[2016-06-25 00:21] #147 closed

[2016-07-08 20:32] fiveop opened #157 "timestamp missing in aspell en_US"
As the title states, timestamp, a word used fairly frequently in software development related text, is missing from aspell en_US.

http://app.aspell.net/lookup?dict=en_US;words=timestamp

[2016-08-18 05:44] jnm opened #158 "`other's` not included in `en_US`"
Apologies if this is the wrong place to report this, but `other's` is not included in the `en_US` speller dictionary as reported by http://app.aspell.net/lookup?dict=en_US;words=other%27s. It is included in the size 80 word list, however.

I wanted to raise the issue in case the omission was accidental.

[2016-08-18 06:33] kevina commented on #158
Likely because it is a pronoun, and most pronouns don't take the 's form, but a quick Google search verified this one should.

[2016-11-12 10:53] #154 closed

[2016-11-16 17:39] #157 closed

[2016-11-16 17:39] #158 closed

[2016-11-16 17:40] fiveop commented on #157
thanks

[2016-11-19 04:51] kevina commented on #145
Sorry for taking so long to get back.  I added all but "disassembly's".

[2016-11-19 05:08] #145 closed

[2016-11-22 00:00] gene1wood opened #160 "Missing word "outlier" not present in `en_US`"
The word [outlier](http://app.aspell.net/lookup?dict=en_US;words=outlier) is a 4 star word not present in the `en_US` dictionary.

It appears to be present in `pos/part-of-speech.txt`

    outlier N

and `infl/infl.txt`

    outlier N: outliers

Not being familiar with how the worldlists are built I'm not sure what this means.

[2016-11-22 00:32] kevina commented on #160
Yeah I think I will add it, "outliers" also.

[2016-12-03 01:48] kevina opened #161 "Fix for en_US.aff"
From https://sourceforge.net/p/aspell/patches/117/:

https://sourceforge.net/p/aspell/patches/_discuss/thread/f334c70d/65b0/attachment/en_US.aff.patch

[2016-12-03 02:29] biljir commented on #161
How to pluralize words ending in -ch depends on their pronunciation!
"marches" vs. "monarchs".

On Fri, Dec 2, 2016, at 08:48 PM, Kevin Atkinson wrote:

Links:

  1. https://github.com/en-wl/wordlist/issues/161
  2. https://github.com/notifications/unsubscribe-auth/AJKtkVJ9yjwQQsgH-gldZzFAE0YcSVtfks5rEMqIgaJpZM4LDKLJ

[2017-01-08 10:11] wt opened #162 "a couple missing words"
I noticed a couple missing words from the English (specifically en_US) dictionary:

- dysphoria
- dysphoric

I use verified they are missing [here](http://app.aspell.net/lookup?dict=en_US;words=dysphoria%0D%0Adysphoric).

[2017-01-11 00:24] kevina commented on #162
@biljir thoughts?

[2017-01-11 00:27] biljir commented on #162
I don't have any opinion to speak of here. Low usage, but not particularly obscure as such words go.

[2017-01-11 01:28] rvandermeulen opened #163 "that'll & that'd are flagged as misspelled"
Originally reported in Mozilla [bug #637949](https://bugzilla.mozilla.org/show_bug.cgi?id=637949). See the comments in the bug for further discussion.

[2017-01-11 01:50] kevina commented on #163
@biljir do you think these are common enough to add?

[2017-01-11 01:55] biljir commented on #163
Yes, I do.

[2017-01-11 01:57] kevina commented on #162
Okay, I will add them since there can't easily be confused with other more common words.

[2017-01-11 01:57] kevina commented on #163
Thanks will add.

[2017-01-11 12:53] kevina opened #164 "Dead link in http://wordlist.aspell.net/12dicts-readme/"
http://wordlist.aspell.net/12dicts-table

[2017-01-11 12:54] kevina opened #165 "Make it clear alt12dicts is updated to version 6.0.2"
Alan wrote:

I still say version 4.0 because it doesn't include any of the new files.  The README
http://wordlist.aspell.net/alt12dicts-readme/ makes it clear what is going on.  I will update the text on
http://wordlist.aspell.net/12dicts/.

[2017-01-16 06:37] wt commented on #162
I'd be happy to create a PR adding the words if I knew where to add them. Would you suggest where to put them?

[2017-01-16 06:45] kevina commented on #162
Thanks, but it is easier for me to just do it.  I tend to add words in batches, generally a bit before a release.  I hope to create a release in about a week and will add them then.

[2017-01-16 06:50] wt commented on #162
SGTM. Thanks.

[2017-01-18 21:34] #160 closed

[2017-01-18 21:34] #162 closed

[2017-01-18 21:34] #163 closed

[2017-01-18 21:53] kevina commented on #164
This is fixed now.  Not sure what the problem was.

[2017-01-18 21:53] #164 closed

[2017-01-18 21:54] #165 closed

[2017-01-19 08:52] ptpj opened #166 "Add "Czechia" to the en wordlist"
"Czechia" is a short geographic name for the Czech Republic, that has recently been officially registered in the United Nations “UNTERM” and “UNGEGN” databases by the Czech government.

https://unterm.un.org/UNTERM/Display/record/UNHQ/NA/4275087d-4018-4082-899d-95f37efeda65
http://unstats.un.org/unsd/geoinfo/geonames/
https://www.cia.gov/library/publications/the-world-factbook/geos/ez.html

[2017-02-01 12:29] fiveop opened #167 "parameterized missing in aspell en_US"
As the title states, parameterized, a word used fairly frequently in software development (and probably also other science and technology) related text, is missing from aspell en_US.

http://app.aspell.net/lookup?dict=en_US;words=parameterized

[2017-02-04 05:47] jjimenez opened #168 "parts_of_speech.txt has no indefinite articles marked"
A, An, and friends are marked as Definite Articles.

[2017-02-05 02:35] kevina commented on #167
Thanks.  Will add.

[2017-02-05 02:36] kevina commented on #168
What package did you find this file in?

[2017-02-06 13:27] jjimenez commented on #168
@kevina see https://raw.githubusercontent.com/en-wl/wordlist/master/pos/part-of-speech.txt

I double checked just now and 'a' is marked as "D" among others, but not "I" in the type column.

[2017-02-10 20:04] fiveop opened #169 "subdomain missing in aspell en_US"
Given how important the Internet has become, the word 'subdomain', referring to the third most significant part of a URL, should be included in aspell en_US.
http://app.aspell.net/lookup?dict=en_US;words=subdomain

(As an aside: top-level domains (TLDs) are the most significant, but therefore, probably less people and thus texts have to deal with them. The search only finds the abreviation not the

[2017-02-13 22:11] gene1wood opened #170 "Word "aggregator" not present in en_US"
The word [`aggregator`](http://app.aspell.net/lookup?dict=en_US;words=aggregator) is a 3 star word not present in the `en_US` dictionary.

It's present in `agid/infl.txt`

    aggregator N?: aggregators

I see it requested in #137 and #97 among many other words but am not sure if it was left out of the commits related to these requests intentionally. If not, would you consider it to be added?

[2017-02-14 23:50] skierpage opened #171 ""inverter" is not in the dictionary"
It's definitely a word, https://en.wikipedia.org/wiki/Solar_inverter  http://app.aspell.net/lookup?dict=en_US;words=inverter says no, but it also says "Found In en_US-large and Should include ****"
I filed this against Firefox downstream in https://bugzilla.mozilla.org/show_bug.cgi?id=499593#c100

[2017-02-16 01:39] nanake opened #172 "add "foundational" in the dictionary"

[2017-02-16 02:36] stuartpb opened #173 ""Processable" and "Unprocessable" not in en_US"
As seen in [HTTP Status 422, "Unprocessable Entity"](http://www.restpatterns.org/HTTP_Status_Codes/422_-_Unprocessable_Entity).

http://app.aspell.net/lookup?dict=en_US;words=unprocessable

"Processable" is in en_US-large, but has 3 stars, and seems like it should be in `agid/infl.txt`, especially seeing as how `processability` is there now:

http://app.aspell.net/lookup?dict=en_US;words=processab

[2017-02-16 13:53] biljir commented on #167
I suggest also adding the other forms of the verb "to parameterize".

[2017-02-16 13:55] biljir commented on #170
I think this would be a good addition, especially since someone not  very familiar with the word might presume that it ends with -er.

[2017-02-16 13:56] biljir commented on #171
I think this would be a reasonable addition, due to the word's use in electronics.

[2017-02-20 00:04] kevina commented on #167
@biljir thanks, will add both

[2017-02-27 02:38] bknowles opened #176 "Current version of 2+2+3frq and 2+2+3cmn word lists?"
I've gone through the repo and I can't find a current version of these files, and I can't figure out where they went.  What am I missing here?

[2017-02-27 17:55] kevina commented on #176
Those lists are currently only available in the official 12Dicts package and not in alt12dicts or the git repository.  The lists are currently not used to create the SCOWL word lists.  If I do decide to use them I will move them into the alt12dicts package (and hence the git repository).

Sorry for any confusion.

[2017-02-27 17:55] #176 closed

[2017-02-27 18:52] bknowles commented on #176
Sorry, I must have missed the official 12Dicts package somewhere.  I'll keep looking.  Thanks!

[2017-02-27 18:56] kevina commented on #176
http://downloads.sourceforge.net/wordlist/12dicts-6.0.2.zip

http://wordlist.aspell.net/12dicts/

[2017-02-27 21:58] bknowles commented on #176
I could have sworn I had already checked out that zipfile and it seemed to be corrupt, and I was unable to open it.  I must have been smoking something.  ;)

Thanks again!

[2017-03-04 12:19] EchidnaISaWord opened #177 "The word "Echidna" is not in the dictionary"
It's a word.

echidna
ɪˈkɪdnə/Submit
noun
a spiny insectivorous egg-laying mammal with a long snout and claws, native to Australia and New Guinea.

http://www.nationalgeographic.com.au/animals/echidna.aspx

[2017-03-04 20:14] kevina commented on #177
@EchidnaISaWord is there a reason you closed the issue?

[2017-03-05 00:20] EchidnaISaWord commented on #177
I'm new to this, so I thought maybe I had to add a label to it, but
couldn't work out how.

On 5 Mar 2017 7:14 am, "Kevin Atkinson" <notifications@github.com> wrote:

[2017-04-10 15:10] marcoagpinto opened #179 "en-US thesaurus in PDF - copyright + licence"
Kevin,

I sent you an e-mail moments ago regarding the subject.

I created a 9000-page PDF with the entire US thesaurus that comes with AOO/LO.

I created an option in my Hunspell tool (Proofing Tool GUI) to extract thesauri before PDF stage.

Since Daniel Naber created the script back in 2005 to get the words from WordNet, I wrote "(c) 2005-2017 Daniel Naber".

But it seems it isn't what should b

[2017-04-10 17:14] kevina commented on #179
Could I have a link to where it is?

[2017-04-10 20:14] marcoagpinto commented on #179
Kevin, I sent it to you via e-mail hours ago, but here it is:
https://www.dropbox.com/s/lt1fcdic8rycv64/OpenThesaurus_en-US_20170410.pdf?dl=0

My idea would be to create PDFs with thesauri for the most important languages and make them available to the community.

[2017-04-11 15:01] kevina commented on #179
I am not sure why you are bringing this up here.  This should be directed to Daniel Naber.

In any case the copyright should go to WordNet.  I do not know what that copyright is, you will need to find it.

You could give credit to "Daniel Naber" for converting from the WordNet source but he does not own the copyright.

[2017-04-11 15:01] #179 closed

[2017-04-17 16:31] marcoagpinto commented on #179
Kevin, sorry... I made a confusion with SCOWL and WordNet.

[2017-05-02 20:07] chrisjbryant opened #180 ""analyze" not in en_GB-large"
"analyze" and its morphological variants (e.g. analyzes, analyzing etc.) are not in the en_GB-large dictionary.

[2017-05-02 20:14] kevina commented on #180
analyze is not recognized by the oxford dictionaries as a valid British spelling, it is marked as US only: https://en.oxforddictionaries.com/definition/analyse

I am open to including it but would like some documentation that it is a valid British spelling as I am American and do not fell qualified to make these decisions.

[2017-05-02 20:43] chrisjbryant commented on #180
Personally, this seems like a -ise vs. -ize difference to me, except with a y.
I'm a native British speaker and prefer "analyse", but I mainly use the GB-large dictionary to allow both the s and z forms.

[2017-05-02 20:48] kevina commented on #180
There has to be a reason why this one is marked as US only, the oxford dictionaries normally prefer the -ize spelling.

[2017-05-02 21:12] chrisjbryant commented on #180
Just tried both versions in google's ngram viewer. "analyze" seems to occur fairly frequently in GB.
[GB English](https://books.google.com/ngrams/graph?content=analyse%2Canalyze&year_start=1800&year_end=2017&corpus=18&smoothing=3&share=&direct_url=t1%3B%2Canalyse%3B%2Cc0%3B.t1%3B%2Canalyze%3B%2Cc0)
That said, I'm now on the fence about whether analyze should appear in GB, so maybe it's best to do

[2017-05-02 21:46] kevina commented on #180
See: https://en.oxforddictionaries.com/spelling/ize-ise-or-yse, oxford specially mentions analyze as an exception to the rule.

[2017-05-02 21:52] chrisjbryant commented on #180
In which case, my mistake, this isn't an issue!

[2017-05-02 21:52] #180 closed

[2017-06-08 17:49] marcoagpinto opened #181 "Words missing in US"
Hello @kevina

This will probably be the last time I suggest words here because in the past I have suggested many hundreds or even thousands and only a few have been added.

During these three-four years as the maintainer of the forked GB speller, I have managed to add ~29K words to it.

The words I am suggesting here aren't from my wordlist, but from LanguageTool's list of missing words.

I still

[2017-06-09 23:23] biljir commented on #181
I thought I would jump in and discuss some of these words before Kevin asked me for comment. I will group some words that present the same issues together.

First of all, I am not sure of the status of support in the software for phrasal words. If such support is present, then the following should certainly (IMHO) be accepted:
a posteriori, a priori, ad hoc, ad infinitium, ad nauseam,déjà vu (but

[2017-06-11 21:56] kevina commented on #181
@marcoagpinto

Most of your words are simply not common enough to be included in a spell checker dictionary.  I consider many of your additions at level 80 in scowl, which means they are suitable for things like word games but not for a speller dictionary.  Please do consider to suggest.  I might not get to the list right away as I am often busy with other things, but I will eventually get to them

[2017-06-13 10:18] marcoagpinto commented on #181
@kevina

Thanks, Kevin.

I was kind of stressed when I opened this case.

I will continue posting words then, once a month.

Kind regards,

[2017-06-24 09:00] marcoagpinto opened #182 "birthdate birthdates"
Hello!

These words are missing in US.

[2017-06-27 09:31] marcoagpinto opened #183 "Words missing in US - 2017-06-27"
Hello @kevina

Here is the monthly list of words missing in US (I have added them to my GB fork).

Notice some may be British only.

The list:
Crisium
Gairy
Gairy's
Allingham
Allingham's
Centauri
Zac
Zac's
Gessner
Gessner's
Ladd
Ladd's
Koresh
Koresh's
opinioned
parasynthesis
parasynthetic
parasynthetically
parasynaptic
parasyntheton
parasyphilitic
paratactical
parataxic
paratectonic
parageosynclin

[2017-06-28 05:03] Nokel81 opened #184 "`other's` not included in `en_CA`"
Similar to #158 but instead for the Canadian variant.

[2017-06-28 05:32] kevina commented on #184
It should be, maybe you are not using a new enough version:
http://app.aspell.net/lookup?dict=en_CA;words=other%27s

[2017-06-28 05:32] #184 closed

[2017-07-09 16:19] yoasif opened #185 "Add 'victimless'"
eg: https://en.wikipedia.org/wiki/Victimless_crime

[2017-07-09 18:14] kevina commented on #185
will add

[2017-07-11 01:03] yoasif opened #186 "Add combust'"
eg: https://www.merriam-webster.com/dictionary/combust
also 'combusts'

[2017-07-11 01:33] kevina commented on #186
will add

[2017-07-25 11:25] marcoagpinto opened #187 "Words missing in US - 2017-07-25"
Here they are:
foodbank
foodbanks
foodbank's
rictus
rictal
interramal
Benedictus
Magnificat
safranine
safranin
ultramicrotome
toluidine
phosphuretted
phosphyl
phosvitin
phosphoprotein
phosphoproteins
multiskilled
multispecialist
multispecies
demilune
demilunes
Angleton
Angleton's
natation
natatorial
natatory
facepalm
facepalms
facepalming
facepalmed
Rawson
Rawson's
communicableness
communer
commun

[2017-07-26 20:27] kevina commented on #187
@biljir care to comment on these words, I hope to make a new release sometime within the next two weeks

[2017-07-26 20:27] kevina commented on #183
@biljir care to comment on these words, I hope to make a new release sometime within the next two weeks

[2017-07-27 03:35] yoasif opened #188 "Add 'dystopia'"
eg: https://en.wikipedia.org/wiki/Dystopia

[2017-07-27 14:34] biljir commented on #187
Most of the words in this list are outside my experience. I have a few comments about those few that are not.

I have serious doubts about "opinioned". It's not clear to me if this is supposed to be a verb form or an adjective, for which normal usage would be "opined" and "opinionated" respectively. A Google ngram lookup showed virtually no use compared to those words.

"wavefront(s)" or "wave fro

[2017-07-27 18:38] kevina commented on #187
@biljir thanks

[2017-07-27 18:45] biljir commented on #183
[ I got my links confused. I made these comments on the wrong thread, so I've now copied them to this one. ]

Most of the words in this list are outside my experience. I have a few comments about those few that are not.

I have serious doubts about "opinioned". It's not clear to me if this is supposed to be a verb form or an adjective, for which normal usage would be "opined" and "opinionated" res

[2017-07-27 19:47] biljir commented on #187
Not a lot of comments from me on these words.

foodbank(s) - Google ngrams shows usage as "food bank" is considerably higher. I only found this in one dictionary, and they showed it with a space.

Bendictus and Magnificat are useful words if you happen to be writing about classical music or Catholic worship.

facepalm/ed/ing/s is a neologism, and it's hard to know how prevalent it is. I'm guessing

[2017-07-28 21:15] #167 closed

[2017-07-28 21:15] #169 closed

[2017-07-28 21:21] #186 closed

[2017-07-28 21:23] #188 closed

[2017-07-28 21:25] #185 closed

[2017-07-28 21:27] #172 closed

[2017-07-28 22:24] #177 closed

[2017-07-29 21:53] kevina commented on #181
@biljir A few notes on your suggestions that I am not likely to add unless you can give me a good reason to do so:

The words "formulae" and "oversized" are marked as variants.

As a verb the words "underinflate" and "overinflate" are not really common, I will add more the common adjective forms though (underinflated and overinflated).

The following other words I also don't seam that common: perp

[2017-07-29 22:04] biljir commented on #181
formulae is the standard plural of formula in technical/scientific writing. It really should be accepted (as should minima and automata, to which you offered no objection). (And formulas should also be accepted - they are each preferable in their own domain, like antennas and antennae, both of which I hope you accept.)

I think you're mistaken about perplexingly, but I have no "good reason" beyond

[2017-07-29 22:11] kevina commented on #181
@biljir thanks I will add "formulae" and "perplexingly"

[2017-07-30 19:40] kevina commented on #183
Thanks.

I added all the words I think I am going to add from this issue.

[2017-07-30 19:40] #183 closed

[2017-07-31 14:13] kevina commented on #182
Hum, these words don't seam too common, generally its "date of birth". @biljir thoughs?

[2017-07-31 17:04] biljir commented on #182
Back when I was just starting in to work on 12dicts, "birthdate" was one of a class of words to be found in various usr/dict/words of the time that really annoyed me, as I could find no documentary evidence of it at all. My assumption was that it appeared mostly in online forms where someone decided to save a little screen space by creating a non-existent (though clear) compound word.

It's been 1

[2017-07-31 17:52] kevina commented on #182
Thanks @biljir, I think I will leave it out.

[2017-07-31 17:52] #182 closed

[2017-07-31 18:01] #170 closed

[2017-07-31 18:04] #171 closed

[2017-08-01 14:28] kevina commented on #187
@biljir I added "mitzvah" but not "mitzvoth" as the latter could easily be confused with the more common "mitzvot", so I am leaving it out.

[2017-08-01 14:34] kevina commented on #187
@biljir when I said "more common" I was going on what http://app.aspell.net/lookup-freq?words=mitzvoth;also=similar;parm=normal was telling me.  I am not 100% sure but I think "mitzvoth" is a less common variant of "mitzvot".

[2017-08-01 14:36] kevina commented on #187
Neither "mitzvoth" or "mitzvot" is included but I think I will add "mitzvot".

[2017-08-01 14:39] biljir commented on #187
I have no reason to think this is wrong. It may be that how the relevant Hebrew word should be transcribed into English is a matter of controversy among Hebrew speakers (in which case it might be worth including both forms), but I'm not willing to attempt the research necessary to see whether this is actually so or not.

[2017-08-01 21:21] kevina commented on #187
Some quick research only turns out that possible plurals are "mitzvoth" or "mitzvot" or even "mitzvahs" and I could not find any guidance to the preferred form, so for now I think I will leave the plural out.

[2017-08-01 21:29] biljir commented on #187
I think you should accept some plural, and given that mitzvahs is acceptable (pretty clearly it's not a plural derived from Hebrew, but a standard English plural) I would choose that one.

[2017-08-06 02:39] kevina opened #189 "Add plural of "mitzvah""
"mitzvah" vis added (re #187) but not it's plural as it is very unclear what the proper or even preferred plural is, possibilities are:

mitzvoth
mitzvot
mitzvahs

http://app.aspell.net/lookup?dict=en_US;words=mitzvoth%0D%0Amitzvot%0D%0Amitzvahs

[2017-08-11 02:02] nanake opened #190 "Consider adding `bullseye`"
https://en.oxforddictionaries.com/definition/us/bullseye

[2017-08-15 20:22] yoasif opened #191 "Add 'balkanize'"
eg: https://www.merriam-webster.com/dictionary/balkanize

[2017-08-17 23:13] yoasif opened #192 "Add 'cockatiel'"
eg: https://en.wikipedia.org/wiki/Cockatiel

[2017-08-21 03:25] kevina commented on #191
This word doesn't seam that common.

@biljir what do you think

[2017-08-21 03:32] #190 closed

[2017-08-21 03:32] #192 closed

[2017-08-21 10:48] biljir commented on #191
I agree with you - very uncommon.

[2017-08-21 17:06] kevina commented on #191
Sorry, I don't think I will add this one.   Closing.

[2017-08-21 17:06] #191 closed

[2017-08-22 10:01] kevina commented on #173
I added processable I do not consider unprocessable common enough.

As far as AGID is concerned, it is not really maintained, scowl uses inflection information from 12 dict sources for all but the highest levels.

[2017-08-22 10:01] #173 closed

[2017-08-22 10:03] kevina commented on #187
I added all the words I am going to from this and filed a separate issue for the plural of mitzvah.

[2017-08-22 10:03] #187 closed

[2017-08-22 23:46] ehsan opened #193 "Add 'intermittency'"
https://en.oxforddictionaries.com/definition/us/intermittency

[2017-08-22 23:47] ehsan commented on #193
(Firefox bug for reference: https://bugzilla.mozilla.org/show_bug.cgi?id=1392842)

[2017-08-23 01:04] ehsan commented on #193
intermittence is also missing!

[2017-08-23 07:45] kevina commented on #193
Those two words don't seam that common, but are in the larger dictionary:

http://app.aspell.net/lookup?dict=en_US;words=intermittent%0D%0Aintermittency%0D%0Aintermittence%0D%0A%0D%0A

@biljir thoughts

[2017-08-23 12:21] biljir commented on #193
I'm neutral. They seem borderline. Interestingly, contrary to Google Books, I find intermittence more familiar than intermittency (but there's no reason not to trust Google Books on this factor).

[2017-08-23 12:58] jenstroeger commented on #193
@biljir, what do you mean with your Google Books reference? Check occurrence of a word there?

[2017-08-23 22:53] kevina opened #194 "Consider Better Handling of Accents Words"
Right now accented words are added in from UK Advanced Cryptics Dictionary and then mechanically removed for certain dictionaries.   Perhaps a better way to handle it would be to handle accents words as a form of variants as some are more common than others.

For instance here is a list of accented words from #181
fiancé
fiancée
fiancées
fiancés
Molière
naïve
née
Poincaré
rôle
rôles

Some such as

[2017-08-23 22:58] kevina commented on #181
Concerning accents words, they are not included in en_US but are in some other dictionaries.  The dictionaries that include them already have fiancé and fiancée.

Hyphenated words and word phrases are currently filtered out.  In the future I may include ones where one of the words is not normally considered a word or is very uncommon on its own.

I am closing this issue, if there is anything I mis

[2017-08-23 22:58] #181 closed

[2017-08-24 20:04] kevina commented on #139
Related issue: #194

[2017-08-26 10:44] marcoagpinto opened #195 "Words missing in US - 2017-08-26"
Hello Kevin,

I haven't tested these words with the latest US released a few days ago.

But most probably they aren't there.

pitot
copita
copitas
Poincaré
Poincaré's
poimenic
poilu
poilus
Nevinson
Nevinson's
predefine
predefines
predefining
preventability
quadrennia
quadriannulate
quadribasic
tetrabasic
tetrabasicity
quadricarinate
homography
homographies
Schur
Schur's
quadriarticulate
radome
rad

[2017-09-17 14:38] yoasif opened #196 "Add 'intifada'"
'intifada'

eg: https://en.wikipedia.org/wiki/Intifada

[2017-09-26 05:08] marcoagpinto opened #197 "Words missing in US - 2017-09-26"
Hello!

Here is the monthly list of missing words in US.

Please notice that I didn't install the latest US released weeks ago in LibreOffice, so it is possible that some words may already be in (but I doubt it).

Kind regards,

       -----------------

micromechanical
micromechanics
micromanipulation
subcreation
subcreative
subpart
subtextual
subvocalize
subvocalizes
subvocalizing
subvocalized
s

[2017-09-30 21:43] christian-storm opened #198 "GNU Make 3.81 fails on mac sierra"
After a fresh clone I ran make as instructed.
I tried to figure it out what was going wrong but after chasing my tail through the makefiles I gave up.

The error output is a combination of a bunch of warning complaining about '-n' target being given more than once in the same rule, e.g.,

with the final death blow

[2017-10-14 22:39] rrthomas opened #199 "Incorrect word "etc" in US English dictionary"
[Issue originally reported to https://bugs.documentfoundation.org/show_bug.cgi?id=91903 ]

The US English dictionary contains the non-word "etc". Hence, if the (mandatory) period is forgotten from the end of the abbreviation, it is not marked as wrong as it should be.

To be clear:

Correct: etc.
Wrong: etc

But both are marked right.

In the UK English dictionary, "etc" is marked wrong (correctly

[2017-10-15 01:42] ghost opened #200 "Please add "advisor" to the US dictionary"
See [the corresponding bug report for openoffice](https://bugs.documentfoundation.org/show_bug.cgi?id=107559).  As of today, the noun "advisor" is valid according to the online dictionaries of Merriam-Webster, Oxford, and Cambridge. There are some semantic differences to "adviser" (which are off-topic here). Please add "advisor" to the US dictionary.
See https://bugzilla.suse.com/show_bug.cgi?id=1

[2017-10-16 15:31] yoasif opened #201 "Add 'preinstall' and 'preinstalled'"
'preinstall' and 'preinstalled'

eg: https://www.merriam-webster.com/dictionary/preinstall

[2017-10-16 19:39] kevina commented on #200
As a policy do not include spelling variants in the default dictionary.

No its not.  If there is a strong enough argument for the use of both adviser and advisor I will consider making an exception.

[2017-10-16 19:44] kevina commented on #199
This is due to a processing issue.  There is some work to improve this on the "non-letter" branch (https://github.com/en-wl/wordlist/tree/non-letter).

[2017-10-16 22:41] LeonMeier commented on #200
On 16.10.2017 21:39, Kevin Atkinson wrote:

Dear Kevin,

Please don't take it personally, but you are simply not informed in this
matter.  Certainly, for some people the two variants are
indistinguishable. However, OOD (which is among the top authorities) says at

https://en.oxforddictionaries.com/definition/us/adviser

the following:

"Adviser may be seen as less formal, while advisor often sugge

[2017-10-16 23:02] kevina commented on #200
Dear Leon,

Insulting me is no  way to start a rational discussion on the mater.

Kevin

[2017-10-16 23:07] kevina commented on #200
To be clear.  The "No It is Not" was in reply to "which are off-topic here", not "There are some semantic differences to "adviser"", it is very much on topic to discuss in this issue.

[2017-10-16 23:20] biljir commented on #200
Excuse me for butting in, but perhaps a little data will be helpful and/or interesting. I checked four authoritative American dictionaries - none listed "adviser" and "advisor" separately. Three showed "advisor" as a variant of "adviser". I also checked three ESL dictionaries of good repute, which I would expect to be sensitive to semantic issues. They all showed "advisor" as an alternative form o

[2017-10-16 23:34] kevina commented on #200
Thanks Alan, I am leaning towards making an exception in this case.

[2017-10-16 23:35] LeonMeier commented on #200
On 17.10.2017 01:03, Kevin Atkinson wrote:

Dear Kevin,

It was no intention of my to insult you in any way. If it appeared so to
you, I apologize.

On the contrary, (again, don't take it personally) your remark "Not it
is not" seemed a tiny bit too unfriendly to me. But, when you clarified
it, the issue was resolved.

Best regards,
Leon.

[2017-10-17 00:07] LeonMeier commented on #200
The Merriam-Webster online dictionary says
"Some people feel that advisor is more formal, and it tends to be found
more often when applied to official positions, such as an advisor to a
president."
So, not only OOD but also Merriam-Webster mentions a semantical difference.

Personally, I have never seen "thesis adviser" or "PhD adviser" in
hundreds (or thousands?) of academic documents I have had

[2017-10-17 00:46] kevina commented on #200
@LeonMeier thank you for that information.

I will add an exception for "advisor".

[2017-10-17 03:17] LeonMeier commented on #200
Thanks in advance!

[2017-10-19 00:04] nanake opened #202 "add nondeterminism, nondeterministic and bimodal"
https://en.oxforddictionaries.com/definition/us/nondeterminism
https://en.oxforddictionaries.com/definition/us/nondeterministic
https://en.oxforddictionaries.com/definition/us/bimodal

[2017-10-26 12:52] marcoagpinto opened #203 "Words missing in US - 2017-10-26"
Hello Kevin!

Here is the list of missing words in US.

As usual, some may be GB only.

Thanks!

captionless
Spiegelman
Spiegelman's
interpretational
McNeer
McNeer's
Heckman
Heckman's
Labunski
Labunski's
Elbridge
Elbridge's
revisal
revisory
eighthly
ninthly
minoritarian
Barnette
Barnette's
Furman
Furman's
Talton
Talton's
euthanise
euthanises
euthanising
euthanised
eutopia
eutopian
eutrophication
e

[2017-10-26 20:14] kevina commented on #203
As always thank you for the list.  I have been very busy with other things now and it may be a few months before I go through your lists and create a new release.

[2017-11-08 19:29] yoasif opened #204 "Add 'remediate'"
eg: http://www.dictionary.com/browse/remediate

[2017-11-14 09:57] djh101 opened #205 "Word List"
Hello. So I'm new here: Is this repository for the standard library or SCOWL in general? I've wandered over here after some frustration with LibreOffice and after consulting http://app.aspell.net/lookup I've come with a sizable list of math/physics words, some of which are not in any size dictionary and some that might be better placed in a smaller dictionary:

**New Words:**
algebroid
Amperian
an

[2017-11-14 13:18] marcoagpinto commented on #205
@djh101

Hello!

I am maintaining the GB speller for Mozilla and OpenOffice/LibreOffice:
https://github.com/marcoagpinto/aoo-mozilla-en-dict
http://marcoagpinto.cidadevirtual.pt/proofingtoolgui.html

I have analysed your words and added the ones I found in official dictionaries:
- Oxford;
- Collins;
- Wiktionary.

However, some I wasn't able to find so I haven't added (mostly were found in Wiktion

[2017-11-14 13:37] marcoagpinto commented on #205
@djh101

Can you assure that all words you reported have the correct case (upper/lower) and that there are no typos in them?

I so, tomorrow I will add the ones that weren't found in official dictionaries.

Thank you!

[2017-11-14 17:08] marcoagpinto commented on #205
Anyway, I was taking a look at the missing words and only three were left:
19451) Amperian (Drew - Kevin Atkinson's GitHub)
19452) Liouvillean (Drew - Kevin Atkinson's GitHub)
19453) olog (Drew - Kevin Atkinson's GitHub)

I have just added them.

"ology" and "ologist" appear in Oxford Dictionaries, I have a "Premium Account" there.

[2017-11-14 18:10] djh101 commented on #205
Thanks! They are all correct except Liouvillean which should be Liouvillian (https://en.wikipedia.org/wiki/Liouvillian_function). To clarify some of them,
Amperian- Doesn't seem to be in Wiktionary, but in physics 101 Amperian loops are the magnetic equivalent of Gaussian surfaces, both taught in introductory college physics (and Gaussian is in the dictionary).
Liouvillian- See https://en.wikipedi

[2017-11-14 18:25] marcoagpinto commented on #205
@djh101

Well, it depends on the speller.

The official GB speller being shipped with LibreOffice and Mozilla is the one I am maintaining, so I always keep a close look at the words people suggest here to add the missing ones.

[2017-11-14 19:43] kevina commented on #205
Hi, a number of those words look like good candidates to add to en_US, while others not so much.  I copied and pasted the list into my http://app.aspell.net/lookup-freq web app and here is what I got:

[code]

I am busy with other things right now but will likely add the 4-star words and will consider the 3-star words.

[2017-11-14 23:17] djh101 commented on #205
Thanks!

[2017-11-23 18:30] jonhermansen commented on #198
I encountered this same error running `make` and I was able to get past it.

On Mac, the `find` utility does not support the -printf flag, which is used at build time. I see this error message earlier on in the build output:

[code]

I installed findutils using Homebrew, then put it first in my PATH environment variable:

[code]

I'm still having other problems with the build, but installing GNU f

[2017-11-27 14:25] marcoagpinto opened #206 "Words missing in US - 2017-11-27"
Hello Kevin,

Here is the list of words missing in US (as usual, some may be GB only):
chromebook
chromebooks
CentOS's
openSUSE's
Mageia
Mageia's
LXDE
LXDE's
Xfce
Xfce's
Ossanna
Ossanna's
McIlroy
McIlroy's
Hurd
Hurd's
Tanenbaum
Tanenbaum's
MINIX
MINIX's
userland
GNOME's
HTPC
HTPCs
Shuttleworth
Shuttleworth's
Lubuntu
Lubuntu's
Canonical's
unarchive
unarchives
unarchiving
unarchived
hypervisor
hyper

[2017-12-07 04:56] az0 opened #207 "new words en_US"
Please consider these new words. Many of them are related to psychology.

abductive
aggress
al
amygdala
anonymizes
assortative
audiobook
audiobooks
autotelic
avoidant
binaural
boxelder
ceteris
cingulate
comorbidity
construal
correlational
cortisol
counterintuitively
covalent
deindividuation
demotivational
deniability
descrambled
descrambling
destigmatize
dishabituation
dispositional
dissociative
d

[2017-12-12 02:28] jonhermansen commented on #198
I started debugging this a little bit more.

The problems start on this line: https://github.com/en-wl/wordlist/blob/master/scowl/Makefile#L53

Running `/usr/bin/make` on macOS 10.13.2 under scowl/ directory (with my PATH fixed up as described earlier https://github.com/en-wl/wordlist/issues/198#issuecomment-346679997)

[code]

[code]

some time later...

[code]

[2017-12-12 03:16] kevina commented on #198
That's a rather old version.  Is it possible to install a newer version of GNU Make on your system and use that.  The version I have is 4.0.

[2017-12-12 03:38] jonhermansen commented on #198
@kevina I can definitely try that, but I'm not sure it will help. What's strange is that the same revision seems to build just fine on Debian 7.11 with the same version of make.

One issue I discovered (that I think causes the "-n" argument warnings) is that the builtin echo under /bin/sh on macOS doesn't support that flag, so it just prints it. It could be down to the version of bash installed (3

[2017-12-12 03:41] jonhermansen commented on #198
around Makefile:53, where the original error comes from:

[code]

https://github.com/en-wl/wordlist/blob/master/scowl/src/list-combin#L10
https://github.com/en-wl/wordlist/blob/master/scowl/src/split-words-deps#L10

[2017-12-12 03:58] kevina commented on #198
@jonhermansen that could work, although `dash` would be more efficient than `bash`.

Another option is to replace `echo` with `printf`.  Patches welcome.

[2017-12-12 04:02] jonhermansen commented on #198
Thank you so much for your suggestions @kevina, I think it came down to my version of make in combination the /bin/sh version issue mentioned above. Patch incoming.

[2017-12-12 05:11] jonhermansen commented on #198
@christian-storm I believe PR #208 should fix your issue. You will need to install GNU findutils and put it on your PATH before /usr/bin when running `make`.

[2017-12-30 08:28] marcoagpinto opened #209 "Words missing in US - 2017-12-25"
Waterfox
Waterfox's
demonym
demonstratorship
demonstratory
demonymic
demophile
demophilism
demosponge
spongin
spongily
spongocoel
Libbie
Libbie's
Peterloo
Peterloo's
Forestier
Forestier's
prewarn
prewarns
prewarning
prewarned
flagger
flaggers
Sidmouth
Sidmouth's
Huskisson
Huskisson's
Hayter
Hayter's
Goderich
Goderich's
Cobden
Cobden's
Fashoda
Fashoda's
Ewart
Ewart's
Armes
Armes's
Arliss
Arliss's
m

[2018-01-04 01:17] yoasif opened #210 "Add 'interoperability'"
https://en.wikipedia.org/wiki/Interoperability

[2018-01-25 00:14] nanake opened #211 "new words (company names from NASDAQ)"
These are the biggest companies on the NASDAQ that are missing:

NVIDIA
Amgen
Qualcomm
Priceline
Celgene
Biogen
Baidu
Altaba
Walgreens

[2018-03-15 23:56] nanake opened #212 "new words added to firefox"
distractability
https://en.oxforddictionaries.com/definition/us/distractability

distractable
distractible
https://en.oxforddictionaries.com/definition/us/distractible

hornbeam
https://en.oxforddictionaries.com/definition/us/hornbeam

impactful
https://en.oxforddictionaries.com/definition/us/impactful

kern, kerning, kerne
https://en.oxforddictionaries.com/definition/us/kern

neato
https://en.oxf

[2018-03-19 17:48] kevina commented on #211
Thanks will add.

I notice that "Walgreen" is also in the dictionary, I am thinking that this is a misspelling of "Walgreens" and should be removed, but I am not 100% certain yet.

[2018-03-19 17:52] biljir commented on #211
It could be a last name. I'd check the old census lists.

On Mon, Mar 19, 2018, at 1:48 PM, Kevin Atkinson wrote:

Links:

  1. https://github.com/en-wl/wordlist/issues/211#issuecomment-374304222
  2. https://github.com/notifications/unsubscribe-auth/AJKtkSVm9OaK6iPgykfwILtFIEknEVK1ks5tf-9mgaJpZM4RsIvD

[2018-03-22 18:53] biljir commented on #195
I endorse the following words from this list. I suspect a few of them are already present in he American list. I have done no consultation with Google Books or Kevin's tool, so there's nothing here really but my own opinions.

Endorsed words (plus their inflections):

unrecognizably
uncompelling
Segway
spinless
micromanager
frenemy

A few other words with comments:

quadrennia - I don't know if th

[2018-03-22 19:01] marcoagpinto commented on #195
@biljir

https://en.oxforddictionaries.com/definition/retractive

[2018-03-22 19:04] marcoagpinto commented on #195
I don't make up words, I get them from credible sources.

[2018-03-22 19:05] biljir commented on #197
Not a lot to say about this set.

"Approved words":

switchover
carmaker
superstardom
downtempo
ultrasensitive
dumpster
prelims (I don't know whether the singular "prelim" is much used or not, certainly less than the plural)

Other words with comments -
gravitino - I know this word due to readings in particle physics. Whether it is generally of interest is quite debatable.

[2018-03-22 19:07] kevina commented on #195
Will also include (four star words based on http://app.aspell.net/lookup-freq):

reification
pectoralis
reified
retinoblastoma
cancellous
Helicobacter
univocal

Note: "statins" is a four star word based on my tool but it is too close to "stations"

[2018-03-22 19:12] biljir commented on #195
Nothing personal intended. You've told me about your methods and I
respect them. But in a previous list I noted a misspelling of
Roddenberry, which you agreed was wrong once I pointed it out. This
establishes that you can be fooled by an error in a website that you
have processed. I'm completely certain that you never "make up words",
but mistakes do happen. As do mistakes in recognizing whether a

[2018-03-22 19:19] kevina commented on #197
@biljir did you over look "virtualization"?

Other high frequency words I will include:

subpart
Botha
Beckman
orality

[2018-03-22 19:22] biljir commented on #197
Probably. But I neither support it nor dispute it. You know that I'm
less inclined to accept computer jargon than you are. :)

On Thu, Mar 22, 2018, at 3:20 PM, Kevin Atkinson wrote:

Links:

  1. https://github.com/biljir
  2. https://github.com/en-wl/wordlist/issues/197#issuecomment-375427074
  3. https://github.com/notifications/unsubscribe-auth/AJKtkcD_zwxi0oDDiKayqtXhnItCwfZQks5tg_ligaJpZM4Pj

[2018-03-22 19:46] kevina commented on #203
If someone will separate out the Chinese cities I will consider them separately.  Right now based on frequency I will include (which includes some general words).

Coyle
Finlay
Fujian
Furman
Goode
Hummel
Hunan
Jiangsu
Matheson
Nanking
Schloss
Sichuan
Xinjiang
Xinjiang
Zhejiang
endotracheal
ethmoid
eutrophication
hemiplegia
histopathology
inspiratory
schistosomiasis
ventilatory

Will also include:

[2018-03-22 19:48] biljir commented on #203
When I reach the end of my backlog, I will undertake this. My schedule
might not allow me to get to it until the weekend.

On Thu, Mar 22, 2018, at 3:46 PM, Kevin Atkinson wrote:

Links:

  1. https://github.com/en-wl/wordlist/issues/203#issuecomment-375434425
  2. https://github.com/notifications/unsubscribe-auth/AJKtkWiDdiWUQVXAYML5qIWD-3tOqHczks5tg_-PgaJpZM4QHhLZ

[2018-03-22 19:52] biljir commented on #206
Not a lot of comments on this list.

"Endorsed" words:

patricidal
regicidal
tyrannicidal
tyrannicide
whodunnit
decoherence

Words with comments:

chromebook - I find it somewhat surprising that this is accepted with a lower-case c. I would think that Google would have a trademark on it. But, of course, my supposition may be completely wrong, and/or a court might have voided the trademark.

hyperv

[2018-03-22 20:09] biljir commented on #209
This list is mostly composed of proper names which I do not recognize. But I still do manage to have a few comments.

"Endorsed" words:

moralism
camerapeople
Minnesotan
subpar
anilingus
outercourse

Words with comments:

ceteris, paribus, hominem - are these words acceptable standalone English words, or simply components of commonly used Latin phrases (e.g., ad hominem)? I have no idea what the p

[2018-03-22 21:19] kevina commented on #196
ok will add

[2018-03-22 21:22] kevina commented on #204
M-W. has it labeled as archaic (https://www.merriam-webster.com/dictionary/remediate) and it doesn't seam that common so I am included not to include it.

@biljir do you agree?

[2018-03-22 21:25] kevina commented on #212
@biljir any comments?

[2018-03-22 21:31] biljir commented on #204
No. I have to found it to be very common management jargon. It may have
been archaic at one time, but I believe it has made a comeback in
contemporary management-speak.

On Thu, Mar 22, 2018, at 5:22 PM, Kevin Atkinson wrote:

Links:

  1. https://github.com/biljir
  2. https://github.com/en-wl/wordlist/issues/204#issuecomment-375461760
  3. https://github.com/notifications/unsubscribe-auth/AJKtkR

[2018-03-22 21:42] kevina commented on #204
Okay will include then.

[2018-03-22 22:09] kevina commented on #209
@biljir What is your reason for including "camerapeople", and should "cameraperson" also be included?

[2018-03-22 22:11] biljir commented on #209
I guess I assumed cameraperson was already included.

I've seen cameraperson/people listed in a couple of the ESL dictionaries
I used for 12dicts, and it fits a trend of degenderizing words
containing the word "man".

On Thu, Mar 22, 2018, at 6:09 PM, Kevin Atkinson wrote:

Links:

  1. https://github.com/biljir
  2. https://github.com/en-wl/wordlist/issues/209#issuecomment-375473828
  3. https://

[2018-03-22 22:20] kevina commented on #209
Ok I will add both cameraperson/people.

[2018-03-24 13:14] biljir commented on #203
It turns out, most of the Chinese names are Chinese provinces, not Chinese cities. Which makes it easier, because there are lists of all the Chinese provinces. All the provinces are definitely not on Marco's list, but at least for some names, that may be because they're already present in the current (American) list.

I will add another comment  with the province names, and also check if any of th

[2018-03-24 13:52] biljir commented on #203
The following are single-word province name's on Marco's list which are not already on Kevin's accepted list:

Anhui
Gansu
Guizhou
Hainan
Hebei
Heilongjiang
Henan
Hubei
Liaoning
Qinghai
Shaanxi
Shanxi
Xizang

The following are provinces not on Marco's list. Some of them are also the names of famous cities, and are probably already on the list.

Beijing
Chongqing
Guangdong
Jiangxi
Shandong
Tianjin

[2018-03-24 14:57] biljir commented on #207
This list contains a lot of words where I am just not sure what the frequency of use is. I will "Endorse" some words that I feel are common enough to clearly deserve inclusion, and l also have a few which I don't recommend including. For the rest, Google Books may be a good guide.

"Endorsed words"

audiobook(s)
binaural
covalent
deniability
dystopian
sanitizer(s)
snarky (-ier, -iest)

Words with

[2018-03-24 15:05] biljir commented on #212
I have my usual objections to situ and hoc.

I think (but am nowhere near sure) that "antifa" should be "Antifa", but agree that the word itself, in some form, should be included.

"embiggen", of course, was a joke word; has its usage now left that domain? Just asking. If it is to be considered legitimate, all the verb forms should be included.

I'm dubious about welp, which could easily be a miss

[2018-03-24 19:21] kevina commented on #203
Thanks @biljir .  I am not interested in adding every providence or city for every country, just major/famous ones.  I will likely add all the words on your list.

[2018-03-24 19:27] biljir commented on #203
That's very reasonable. Some of the provinces and cities on Marco's and
my lists are surely not very renowned, but I'm not an authority on
China, so I might be wrong if I started opining about particular ones.
(The one I'm most doubtful of is Qinghai, and its capital Xining. Also,
Daqing is not even a provincial capital, but a subprovincial one, though
I think the province it is in is pretty big a

[2018-03-24 19:36] kevina commented on #203
@biljir if you recognize it that is good enough for me, espacally as the list is not very long.  If you gave me a list of 100+ names then I would be a little more reserved.

[2018-03-24 20:52] az0 commented on #207
@biljir  Thanks for reviewing the list

Wikipedia has both "box elder" and "[boxelder](https://en.wikipedia.org/wiki/Acer_negundo)," where the latter is apparently an adjective in "boxelder maple."

Wikipedia has "[extraversion](https://en.wikipedia.org/wiki/Extraversion_and_introversion)," and it mentions both. Is this like "grey" vs. "gray"?  A Google search on apa.org gives [22.6K results](http

[2018-03-24 21:00] biljir commented on #207
It probably isn't quite the same as as "grey" vs "gray". For the gr?y's,
Americans prefer gray, but Britons prefer grey. (This is a group
preference only, as some individuals may prefer a different spelling
then their nation as a whole.) It's possible that extro- versus extra-
version behaves the same way, but I haven't ever seen a mention of such
a difference. The spelling "extraversion" just loo

[2018-03-24 21:12] kevina commented on #207
I agree and made a point not to include it before.  The proper way to handle spell checking URL's is to skip over it.

[2018-03-25 23:38] az0 opened #213 "famous people"
These 328 name tokens were derived from the top 100 lists in Google Trends via [this repository](https://github.com/az0/google-trend-names). The geography was set to US, and it spanned dates from 2004 to 2018.

Affleck
Aguilera
Aikman
Akkineni
Alito
Aniston
Antetokounmpo
Arian
Ariana
Ashton
Bachman
Bachmann
Beane
Beckham
Beckinsale
Belfort
Bieber
Biel
Birdman
Bisset
Blagojevich
Blasio
Blatt
Blount

[2018-03-26 00:00] az0 opened #214 "popular computer technologies"
Derived from the [Stack Overflow 2018 developer survey](https://insights.stackoverflow.com/survey/2018/#technology)

Arduino
AWS
BigQuery
Clojure
Cordova
CosmosDB
CSS
Django
Drupal
DynamoDB
Elasticsearch
Erlang
Firebase
Hadoop
HBase
Heroku
iOS
Kotlin
MariaDB
Matlab
Memcached
MongoDB
MySQL
Neo
Ocaml
PHP
PostgreSQL
PyTorch
RDS
Redis
Redshift
Salesforce
SharePoint
SQLite
TensorFlow
VBA
WordPress
Xama

[2018-03-26 00:54] kevina commented on #213
@biljir what's you take on this list?

[2018-03-26 01:08] biljir commented on #213
I dunno that I have a take. There's an awful lot of names on his list I
don't recognize, but I've never been one to follow celebrities. If I was
still maintaining my names list, I'd want to do a bunch of research to
find out who these people are, and whether it's likely people will be
talking about them next year (which of course can be very hard to guess,
even once you know why people might ask G

[2018-03-26 01:14] kevina commented on #213
@biljir thank you.  I think I will pass on including any of these.

[2018-03-26 01:14] #213 closed

[2018-03-26 01:23] biljir commented on #213
Ya know, it wold be interesting to compare this list to the list from
the year before. I'm guessing that the intersection of the two will be
considerably smaller. If that isn't the case, it increases the odds that
this is of some value.

On Sun, Mar 25, 2018, at 8:54 PM, Kevin Atkinson wrote:

Links:

  1. https://github.com/biljir
  2. https://github.com/en-wl/wordlist/issues/213#issuecomment-376

[2018-03-26 02:13] kevina commented on #195
I will also add:

reify
reifies
reifying
reified
reification

"quadrennia" is marked as level 2 variant, and it seams about as common as the other variant: http://app.aspell.net/lookup?dict=en_US;words=quadrennium%0D%0Aquadrennia%0D%0Aquadrenniums%0D%0A
for now I will leave it as is

[2018-03-26 02:17] #193 closed

[2018-03-26 02:17] #195 closed

[2018-03-26 02:17] #196 closed

[2018-03-26 02:21] kevina commented on #201
As a technical term I don't recognize and it doesn't seam that common.  Closing for now but am open to including it if you can provide me some sort of reason it should be included.

[2018-03-26 02:21] #201 closed

[2018-03-26 02:26] kevina commented on #202
@biljir would add "nondeterminism"?  I think I will include nondeterminism, bimodal.

[2018-03-26 02:32] kevina commented on #211
Walgreen is the last name of the founder of Walgeens so I will keep it for now.

[2018-03-26 02:37] #204 closed

[2018-03-26 02:37] #210 closed

[2018-03-26 02:37] #211 closed

[2018-03-26 04:38] az0 commented on #213
I am willing to check the intersection of multiple years. Should the ticket be reopened? Do you want to come up with a rule about how often a name is repeated, or should I propose one?

Here is an option. I use the existing method to gather a list of celebrity names. Then I compare each name over time the a benchmark term (say, "hamburger") and average the scores for each term over the last 10 yea

[2018-03-26 11:13] biljir commented on #201
If you were a Windows user, I suspect you'd recognize it. :)
Preinstalled software on new PC's is regarded by many (myself among
them) as a problem and a pain.

On Sun, Mar 25, 2018, at 10:21 PM, Kevin Atkinson wrote:

Links:

  1. https://github.com/en-wl/wordlist/issues/201#issuecomment-376028117
  2. https://github.com/notifications/unsubscribe-auth/AJKtkTaC8df5N0FHWpa9y8T3WYWdcY99ks5tiFC_gaJpZ

[2018-03-26 11:16] biljir commented on #202
I would say that nondeterministic is more common than nondeterminism,
and that both are more common than bimodal. I would probably add both
the nondetermin- words but not bimodal.

On Sun, Mar 25, 2018, at 10:26 PM, Kevin Atkinson wrote:

Links:

  1. https://github.com/biljir
  2. https://github.com/en-wl/wordlist/issues/202#issuecomment-376028655
  3. https://github.com/notifications/unsubscribe

[2018-03-26 17:37] kevina commented on #197
Note: skipping "gravitino" for now.

[2018-03-26 17:42] kevina commented on #202
Well bimodal is already in en_US large and is fairly common according to Google books so I think I will include all 3.

http://app.aspell.net/lookup?dict=en_US;words=nondeterministic%0D%0Anondeterminism%0D%0Abimodal%0D%0A

[2018-03-26 17:44] kevina commented on #201
Okay I will add "preinstalled".

[2018-03-28 05:25] #203 closed

[2018-03-28 05:26] kevina commented on #205
@biljir do have any comments on this list?

[2018-03-28 05:37] kevina commented on #206
Thanks @alan I will add the uppercase version of chromebook.

Will also add "Hurd" as it part of GNU Hurd.

Some other high frequencies words I will add.

coenzyme
exilic

[2018-03-28 05:39] #206 closed

[2018-03-29 01:05] biljir commented on #205
No. It looks like it's been well discussed without any need for me to add anything.

[2018-03-31 21:10] #214 closed

[2018-04-04 02:56] #198 closed

[2018-04-04 04:00] #200 closed

[2018-04-12 19:13] marcoagpinto commented on #213
@az0
I have noticed that most are them are missing in the British speller.

At first I was confirming them on Wikipedia, but I noticed that there was no need for that.

Now I have been inserting them into the GB speller and it will be available in the next release.

I have credited you for the names.

Thank you!

[2018-04-15 03:39] kevina commented on #207
@biljir "online" is already included

I have "flyer" marked as a level 2 variant, and at least m-w agrees: https://www.merriam-webster.com/dictionary/flier

[2018-04-15 03:39] #207 closed

[2018-04-15 03:52] kevina commented on #212
@nanake I am against adding short words sock as "hoc" that are not proper words in there own right because they can easily hid misspellings of similar words and will tend to clutter the suggestion list.  The proper way to add it is as "ad hoc" but that as of now is outside of the scope of SCOWL.

[2018-04-15 18:54] kevina commented on #209
@biljir I will add your suggestions, but note that Minnesotan is already added.

I think I will pass on adding any additional words, too many names that neither of us recognize.

[2018-04-15 19:01] #209 closed

[2018-04-16 02:07] #212 closed

[2018-04-16 02:09] kevina commented on #212
Okay I added some but not all of the words.  If you disagree strongly that some of the excluded words should be included than please open a separate issue.

[2018-04-22 21:38] az0 opened #215 "common prescription and OTC drugs"
If it helps, I could separate the generic and brand names.

Sources
https://www.medscape.com/viewarticle/825053#vp_2
http://www.pharmacytimes.com/contributor/tony-guerra-pharmd/2017/03/the-top-200-drugs-of-2017
[code]

[2018-04-26 06:18] marcoagpinto opened #216 "Words missing in US - 2018-04-26"
Hello Kevin and Alan,

I know I have been quiet for some months, but here is a list of missing words in US that will ship with my GB speller:
oversoul
oversouls
oversoul's
oversolicitous
oversolicitude
oversow
oversows
oversowing
oversowed
oversown
overspan
overspans
overspanning
overspanned
oversparred
overspecific
overspecification
overspecify
overspecifies
overspecifying
overspecified
overspin

[2018-05-04 19:10] marcoagpinto commented on #215
@az0

Hello Andrew,

Can they be written in lowercase?

I ask this because I have some in my GB speller which I found in Oxford Dictionaries and they were lowercase.

Also, do they all accept possessives? I believe they do, so I am just asking to be 100% sure.

I will add them to the next release of the British speller.

Thank you!

[2018-05-06 23:30] az0 commented on #215
@marcoagpinto The generic drugs (such as diphenhydramine) as written in lowercase, while the brand names (such as Abilify) are capitalized.  Would you like them separated?

Yes, I believe they accept possessives such as in a sentence such as, "Diphenhydramine's success as a powerful antihistamine has been unrivaled since its approval in 1946."

[2018-05-07 10:17] marcoagpinto commented on #215
@az0
Yes, please, could you separate them?

Thanks!

In version 2.60 of the British speller I added the following to the README file:
`
2018-05-01 — The user az0 suggested a list of 328 names of famous people on Kevin's GitHub:
             "These 328 name tokens were derived from the top 100 lists in Google Trends via
			 this repository (https://github.com/az0/google-trend-names). The geography

[2018-05-16 07:24] ineol opened #217 "Add "compositional", "compositionality", "compositionally" to the dictionary"
as in https://en.wikipedia.org/wiki/Principle_of_compositionality

[2018-05-17 08:45] Stebalien opened #218 "Add scalability"
"scalability" is a common term for the property of being able to scale.

[2018-05-17 08:51] Stebalien opened #219 "Add incrementing"
Incrementing is present participle of to increment.

[2018-05-17 08:54] Stebalien opened #220 "Add interoperate and interoperable"
* interoperate(s)
* interoperable

[2018-05-17 08:57] Stebalien opened #221 "Add modularization"
Modularization is:

--- https://dictionary.cambridge.org/dictionary/english/modularization

[2018-05-17 09:01] Stebalien opened #222 "Add affordance"
https://www.merriam-webster.com/dictionary/affordance

[2018-05-17 09:03] Stebalien opened #223 "Add optimizable"
Something that can be optimized.

[2018-05-17 09:09] Stebalien opened #224 "Add learnable/learnability"
These are terms often used when talking about user interfaces or tasks. Something is learnable if it can be readily learned.

* learnable
* learnability

[2018-05-17 15:59] kevina commented on #219
Will add, also "decrementing".

[2018-06-28 04:11] az0 commented on #215
@marcoagpinto

OK, I separated the generic and brand names. Also, I lowercased the generic names. The source URLs are the same.

[drug-brand-misspelled.txt](https://github.com/en-wl/wordlist/files/2143709/drug-brand-misspelled.txt)
[drug-generic-misspelled-lower.txt](https://github.com/en-wl/wordlist/files/2143710/drug-generic-misspelled-lower.txt)

Also, that README addition looks good. Thanks

[2018-06-28 13:58] marcoagpinto commented on #215
@az0

Thank you!

On 1-JUL I will start working on V2.63 of the GB speller.

Kind regards,

[2018-07-02 07:21] fiveop opened #225 "Add digitalization"
Although I personally do not like the word, I have to use it. I think http://app.aspell.net/lookup?dict=en_US;words=digitalization supports adding the word to the dictionary.

[2018-07-02 07:53] fiveop opened #226 "Add interoperable and interoperability"
For usage, see http://app.aspell.net/lookup?dict=en_US;words=interoperable%0D%0Ainteroperability

[2018-08-03 15:23] al-paul opened #227 "Add levidrome"
Add the following words to the wordlist:  levidrome, levidromes, levidrome's, levidromist, levidromists, levidromist's, levidromic, levidromical, levidromically

Levidrome (noun) - A word that, when spelled backward, forms another word.

[2018-08-15 00:02] poikilos opened #228 "Please separate nouns and names"
Hello, I am working on an anagram maker, and you have combined words and names in the proper-names file (in "scowl/r/special" directory in <http://downloads.sourceforge.net/wordlist/scowl-2018.04.16.zip>). I am not sure why there is a 2018 release on sourceforge if the website links to github for the source. Are they synchronized? Please ensure that somehow things and names can be separated. There

[2018-08-15 00:06] poikilos commented on #228
appears to be a feature request for scowl not wordlist, closing

[2018-08-15 02:30] Meekohi opened #229 "Add locations with 10,000+ population"
I would like to have "Charlottesville" added to the `.60` dictionaries at least (it currently is only in the `.70`'s), especially given its recent attention in the news: http://app.aspell.net/lookup?dict=en_US;words=charlottesville

I propose we add all locations with a population of more than 10,000 according to the most recent US census (2010).

https://www.census.gov/data/datasets/2017/demo/pop

[2018-08-29 10:03] marcoagpinto opened #230 "Missing Australian cities - 2018-08-29"
Hello Kevin,

Months ago someone complained in LibreOffice's Bugzilla that basic Australian cities were missing in the speller.

I went to:
https://en.wikipedia.org/wiki/List_of_cities_in_Australia_by_population

And here are the missing ones in your en_AU speller:
Albury-Wodonga
Albury-Wodonga's
Armidale
Armidale's
Bairnsdale
Bairnsdale's
Ballarat
Ballarat's
Ballina
Ballina's
Batemans
Batemans's

[2018-08-29 14:26] Fusskoenig commented on #215
I need methylphenidate and midazolam

[2018-09-04 12:06] marcoagpinto opened #231 "Update "Other English Dictionaries" page"
Hello Kevin,

Could you please update:
http://wordlist.aspell.net/other-dicts/

Text:

Could you please update the year to 2018 and the project's URL to:
http://proofingtoolgui.org

Thank you!

Kind regards,

[2018-09-14 10:47] jorgk3 opened #232 "Remove doubtful genitives of the form <verb>'s"
I've just looked at some wordlists again and found that there are quite a few doubtful genitives. Examples:
fail's
compare's
(decease's, sorry, apparently "decease" (death) is also a noun).

IIRC, you have some meta data, so perhaps you can eliminate \<verb\>'s or at least find all of those for manual inspection.

[2018-09-14 11:05] kevina commented on #231
Done.

[2018-09-14 11:05] #231 closed

[2018-10-24 16:48] yoasif opened #233 "Add 'Theming'"
See: https://en.wikipedia.org/wiki/Theming

[2018-11-13 07:55] R-a-l-f opened #234 "hunspell-en 2018.04.16 upper case issue"
Hi,

I can't upgrade hunspell-en 7.1-3. I'm using the English and German hunspell dictionaries both together, in other words at the same time with Claws-Mail. If I write a mail in Claws-Mail and a sentence begins with a word, that inside of a sentence must begin with lower case, but since it's the first word, the first letter is upper case, it's marked as spelling mistake. This happened already a

[2018-11-15 16:06] padenot opened #235 "Add "affine""
This refers to a bunch of stuff: https://en.wikipedia.org/wiki/Affine

[2018-11-16 23:55] loretoparisi opened #236 "hunspell to handle common verbs contractions"
Common English Verbs contractions of `-ing` like `goin`, `givin`,  `doin`, etc. are not handled by current version of `hunspell`.

Let's make this example

[code]

This will be the hunspell correct, suggestions, analysis (morphological) for this sentence:

[code]

so for contractions like `givin` the correct is `false` and there are some suggestions. For some reason the morphological analysis is n

[2018-12-10 19:34] DDriggs00 opened #237 "Add "prepend" to en_us"
The word "prepend" (and other forms) should be added to the en_us dictionary
Prepend = counterpart of append
https://en.oxforddictionaries.com/definition/prepend
https://en.wiktionary.org/wiki/prepend

[2019-01-05 13:39] yoasif opened #238 "Add 'monetization'"
eg: https://en.wikipedia.org/wiki/Monetization

[2019-01-10 11:13] m-mohr opened #239 "Add 'center', 'boolean', 'resample', 'unary'"
Some (technical) words I'd suggest to be added:
* center / ...
* resample / resamples / resampled / resampling (as in '[resample](https://en.wikipedia.org/wiki/Resampling) an image')
* unary (as in 'a [unary](https://en.wikipedia.org/wiki/Unary) operator')
* boolean (as in 'a [boolean expression](https://en.wikipedia.org/wiki/Boolean_expression)')

[2019-01-22 15:07] Stebalien opened #240 "Add deterministically"
Frequency: http://app.aspell.net/lookup?dict=en_US;words=deterministically

Deterministic is already in the spelling list.

[2019-01-22 19:57] yoasif opened #241 "Add 'extensibility'"
eg: https://en.wikipedia.org/wiki/Extensibility

[2019-01-23 23:28] yoasif opened #242 "Add 'extortionary'"
eg: https://www.dictionary.com/browse/extortionary

[2019-02-19 17:19] padenot opened #243 "Add "deterministically""
<https://en.wiktionary.org/wiki/deterministically>

[2019-02-19 23:58] kwhumphreys opened #244 "Add "cryptocurrency""
https://www.merriam-webster.com/dictionary/cryptocurrency
and plural

[2019-02-28 18:00] yoasif opened #245 "Add 'classism'"
eg: https://www.merriam-webster.com/dictionary/classism

[2019-03-26 12:44] padenot opened #246 "Add `linearize`"
<http://app.aspell.net/lookup?dict=en_US;words=linearize>, three stars.

"To make linear; represent in or transform into a linear form".

[2019-05-05 20:42] jaime-olivares opened #247 "Add 'Asgardia' and 'Asgardian'"
I suggest Asgardia (see https://en.wikipedia.org/wiki/Asgardia) and its demonym Asgardian.

[2019-05-05 23:01] DaveJarvis opened #248 "English Dictionary Additions (Canadian)"
There are many science-oriented words, and regular Canadian spellings, missing from the English dictionary. Please consider adding whatever words below you feel are suitable:

[code]

[2019-06-02 05:55] o11c opened #249 "Remove accidentally-concatentated lexicographically-adjacent words"
`grep '\(.\{6\}\).*\1' american-english-insane` shows a manageable number of obvious errors. There may be more, but decreasing to 5 adds a lot of real words.

Your build system is too weird for me to figure out, but I imagine there's a blacklist that says "don't add this word even if it's in source lists".

[2019-06-02 07:54] kevina commented on #249
That list most likely corresponds to level 95 of SCOWL.  There is virtually no error checking at that level.  The largest  recommended level is 80 or "huge".   I am not responsible for the content of `american-english-insane` as that is derived from SCOWL and not directly created from by build system.

Please see the SCOWL README for additional information.

[2019-06-02 21:50] CrossonroseX commented on #229
We'll see about that!

[2019-06-06 21:00] kevina commented on #249
I consider this a won't fix unless the same errors are also found at the 80 or "huge" errors.  Closing.

[2019-06-06 21:00] #249 closed

[2019-06-29 06:14] yoasif opened #250 "Add 'misremembering'"
eg: https://www.opencolleges.edu.au/informed/features/misremembering-happens-brain/

[2019-06-29 23:22] yoasif opened #251 "Past tense of 'triage', 'triaged'"
See https://dictionary.cambridge.org/us/dictionary/english/triage

[2019-07-12 01:36] aspell-helper opened #252 "intrinsics"
From https://github.com/GNUAspell/aspell/issues/549

@shawnl: intrinsic is included, and doesn't provide a plural suggestion. Yes, I am aware this is a computerism, like the new meaning of deprecate.

[2019-07-12 01:38] aspell-helper commented on #139
From https://github.com/GNUAspell/aspell/issues/548

@shawnl: Also, piñata, not just pinata

[2019-07-12 09:59] kevina commented on #230
Sorry for the delay.  I have been very busy with other things.

I will likely incorporate most of these in en_AU.

[2019-07-19 18:12] kevina commented on #229
I think a better list would be Urban areas as defined by United States Census Bureau (https://en.wikipedia.org/wiki/List_of_United_States_urban_areas).  Charlottesville is on the list.

[2019-07-19 18:14] Meekohi commented on #229
Works for me 👍Let me know if there's anything I can help with.

[2019-07-19 18:34] Meekohi commented on #229
Looking closer I think this might not be a great plan. The "Metro Area" is often a concatenated name, but doesn't include all major cities inside that Metro Area. For example:
[Anniston–Oxford metropolitan area](https://en.wikipedia.org/wiki/Anniston%E2%80%93Oxford_metropolitan_area)
Contains as it's major cities: Anniston, Oxford, and Jacksonville

I think someone would be much more likely to use

[2019-07-19 18:34] Meekohi commented on #229
Script to get names of Metro Areas with over 50,000 population: `curl -s "https://www2.census.gov/geo/docs/reference/ua/ua_list_all.txt" | awk -F ',|(  +)' '{ if($4 > 50000) {print $2} }'`

[2019-07-19 18:35] Meekohi commented on #229
[code]

[2019-07-19 18:46] marcoagpinto commented on #229
@Meekohi

Hello!

May I use this list in the British speller?

I am maintaining the GB speller.

Also, what are the names with two "--" and with "-"s? Should I delete them?

Thank you!

[2019-07-19 18:54] marcoagpinto commented on #229
Ohhhh.. I already added your first list in 2018.

Is this a new one with more names?

[2019-07-19 18:55] marcoagpinto commented on #229
http://proofingtoolgui.org/en_GB_README.html

"
Cities from US
On V2.65 I added tons of cities in the US with a 10 000+ population, since they are in valid English.
This list was supplied by Michael Holroyd on Kevin Atkinson's GitHub.
"

[2019-07-19 18:55] Meekohi commented on #229
Yes to be clear -- the list above is based on the "US Census Urban Area" as Kevin suggested -- but I don't actually think it's a good idea to use, I prefer the top list which is of "US Census Cities". Just wanted to post it here so everyone could discuss. A lot of the urban areas are named by squishing together a few of the bigger cities.

Definitely welcome to use any of the work from here! Glad

[2019-07-19 18:56] kevina commented on #229
@Meekohi the idea is to get some missing names.  Major cities are already included for the most part.  10,000+ population is too small and your list seams to excluded many unincorporated areas (for example Ellicott City), some of which may have significance.  Some states (such as Maryland) don't have a lot of incorporated towns.  If you include all those the list will be very huge and include many

[2019-07-19 18:57] Meekohi commented on #229
Thanks for the feedback @kevina, I'll investigate.

[2019-07-19 19:45] kevina commented on #234
@R-a-l-f This is most likely a problem with Hunspell.  It could be the the dictionary was converted to UTF-8 in order to handle the Unicode quote (U+2019).

[2019-07-19 20:14] Meekohi commented on #229
1. Personally, I suspect it is quite common that someone in a town of 10,000+ people types in their home town and is faced with a frustrating red underline... for example:

<img width="718" alt="Screenshot 2019-07-19 15 43 12" src="https://user-images.githubusercontent.com/10985/61561064-ff07bb80-aa3b-11e9-95a2-a20709f1543c.png">

I don't know how to judge what might count as "too many new words t

[2019-07-19 20:37] marcoagpinto commented on #229
@Meekohi
Hello!

Could you please repost the cities here with your new script? I noticed that in the previous list there were some issues with characters as they appeared as "?" and the "--".

Thank you!

[2019-07-19 20:39] Meekohi commented on #229
[code]

[2019-07-19 20:43] Meekohi commented on #229
[code]

[2019-07-19 20:44] Meekohi commented on #229
The above is based on:
`curl -s -B "https://www2.census.gov/geo/docs/reference/ua/ua_list_all.txt" | iconv -f iso8859-1 -t utf-8 | awk -F ',|(  +)' '{ if(NR > 1 && $4 > 50000) {print $2} }' | LC_ALL=C sed $'s/--/\\\n/g' | sed 's/ County//g' |sort | uniq`

[2019-07-19 20:45] Meekohi commented on #229
Wow fascinating -- Github is reducing the two spaces before the `+` into one even in code. Clearly a bug. The above isn't safe to copy/paste. Use:
https://gist.github.com/Meekohi/d03154775c68aac00470419fe2a6a5ac

[2019-07-19 20:47] Meekohi commented on #229
Testing: `( . +)`

[2019-07-19 20:51] Meekohi commented on #229
Working around Github's madness:
`curl -s -B "https://www2.census.gov/geo/docs/reference/ua/ua_list_all.txt" | iconv -f iso8859-1 -t utf-8 | awk -F ',|(\ \ +)' '{ if(NR > 1 && $4 > 50000) {print $2} }' | LC_ALL=C sed $'s/--/\\\n/g' | sed 's/ County//g' | sort | uniq`

[2019-07-19 21:04] kevina commented on #229
@Meekohi you might be able to upload a plain text file as an attachment.  If not, then copy and paste the list into a gist should avoid the problem.

[2019-07-19 22:29] #244 closed

[2019-07-19 22:38] #239 closed

[2019-07-19 22:41] kevina commented on #237
Although I use this word in all the time in computer science contexts. It doesn't seam that widely used otherwise.  @biljir have you ever seen this word used?

[2019-07-19 22:44] biljir commented on #237
Only, as you say, in software documentation, language definitions and the like.

On Fri, Jul 19, 2019, at 6:41 PM, Kevin Atkinson wrote:

[2019-07-20 00:06] kevina commented on #237
I think this word is still not common enough to add.  Sorry.

[2019-07-20 00:06] #237 closed

[2019-07-20 00:19] kevina commented on #220
@biljir what do you think, how common do you think interoperate and interoperable are?

[2019-07-20 00:21] kevina commented on #221
modularization is not in merriam-webster.com, @biljir have you ever seen this word used?

[2019-07-20 00:22] kevina commented on #222
@biljir what do you think?

[2019-07-20 00:24] kevina commented on #224
@biljir what do you think?

[2019-07-20 00:29] kevina commented on #225
@biljir what do you think of the word "digitalization" as oppose to "digitization" that is already included.

[2019-07-20 00:30] #218 closed

[2019-07-20 00:30] #219 closed

[2019-07-20 00:30] #235 closed

[2019-07-20 00:35] biljir commented on #225
Merriam-Webster says that "digitalization" has to do with the administration of "digitalis", which is to say that it has nothing to do with digitizing. I don't know how common "digitalization" is (I was not familiar with it). You could argue for including it or leaving it out. An argument for leaving it out is that someone might get both as a recommended correction for a misspelling and guess the

[2019-07-20 00:37] biljir commented on #220
I don't recall having seen them outside of a software development/computer science context, but I'm not sure the words haven't leaked into more general usage.

On Fri, Jul 19, 2019, at 8:19 PM, Kevin Atkinson wrote:

[2019-07-20 00:38] biljir commented on #221
Quite a lot in software development contexts. Not at all outside that context.

On Fri, Jul 19, 2019, at 8:21 PM, Kevin Atkinson wrote:

[2019-07-20 00:38] biljir commented on #222
No.

On Fri, Jul 19, 2019, at 8:22 PM, Kevin Atkinson wrote:

[2019-07-20 00:39] biljir commented on #224
I would lean towards including them.

On Fri, Jul 19, 2019, at 8:24 PM, Kevin Atkinson wrote:

[2019-07-20 00:47] kevina commented on #225
Thanks @biljir.  I think I will leave this one out.

[2019-07-20 00:47] #225 closed

[2019-07-20 00:51] #224 closed

[2019-07-20 00:52] kevina commented on #222
Thanks @biljir.  I think I will pass on this one.

[2019-07-20 00:52] #222 closed

[2019-07-20 00:53] kevina commented on #251
@biljir would you say the verb form is common enough to include?

[2019-07-20 00:58] biljir commented on #251
This one is a very close call. I don't think it would do any harm to include it. Though 'triaging' is certainly unlikely to be used.

On Fri, Jul 19, 2019, at 8:53 PM, Kevin Atkinson wrote:

[2019-07-20 00:58] kevina commented on #250
@biljir wha tdo you think: misremember(ing/ed/s).

I think this is one of those never terms that is gaining popularity but I am not sure.

[2019-07-20 01:03] biljir commented on #250
It's a word that is part of my working vocabulary (having reached an age where my memory is sometimes unreliable). I'd include it.

On Fri, Jul 19, 2019, at 8:58 PM, Kevin Atkinson wrote:

[2019-07-20 01:07] #250 closed

[2019-07-20 01:10] kevina commented on #247
I don't recognize these words, do you @biljir.

[2019-07-20 01:11] kevina commented on #246
I think this one is a little bit too technical to include sorry.

[2019-07-20 01:11] #246 closed

[2019-07-20 01:12] kevina commented on #245
@biljir what do you think?

[2019-07-20 01:13] biljir commented on #247
If I remember correctly, Asgard is the location which in Norse mythology corresponds to Olympus in Greek mythology. Probably used more in the last few years due to the Thor movies.

Asgardian clearly is intended to be an adjective meaning "having to do with Asgard", but I'm not certain whether it is authentic or not.

On Fri, Jul 19, 2019, at 9:10 PM, Kevin Atkinson wrote:

[2019-07-20 01:14] biljir commented on #247
Oh, the word is Asgardia. I got confused there because Asgardian is a plausible adjectival form for Asgard. I've never seen Asgardia.

On Fri, Jul 19, 2019, at 9:10 PM, Kevin Atkinson wrote:

[2019-07-20 01:16] biljir commented on #245
My gut feeling is yes. I think historically it's far more British than American, though in the last year or so, I think I've seen a few American uses.

On Fri, Jul 19, 2019, at 9:12 PM, Kevin Atkinson wrote:

[2019-07-20 01:25] kevina commented on #242
m-w has this labeled as archaic: https://www.merriam-webster.com/dictionary/extortionary so I think I will exclude it unless @biljir disagrees.

[2019-07-20 01:25] #242 closed

[2019-07-20 01:26] biljir commented on #242
I agree.

On Fri, Jul 19, 2019, at 9:25 PM, Kevin Atkinson wrote:

[2019-07-20 01:29] kevina commented on #238
@biljir what do you think?

[2019-07-20 01:31] kevina commented on #233
I think I will pass on this one, it is a little too close to "teeming" and "timing", unless @biljir things it's significant enough to include.

[2019-07-20 01:31] #233 closed

[2019-07-20 01:31] biljir commented on #238
I'd take it. (By the way, I'm about to log out for the evening, so I'll respond to any further issues tomorrow some time, quite possibly not until the afternoon.)

On Fri, Jul 19, 2019, at 9:29 PM, Kevin Atkinson wrote:

[2019-07-20 01:35] kevina commented on #227
I think these words are just a little bit too obscure to include, sorry.

[2019-07-20 01:35] #227 closed

[2019-07-20 01:36] #245 closed

[2019-07-20 01:39] #238 closed

[2019-07-20 04:15] kevina commented on #122
@client9 I unfortunately don't.  Like I said before I would be happy to fix the affix file if required, but want to make sure it won't cause problems for anyone.  I can easily test the Hunspell command line utility and possible the library.  But I can't test what the change will do for LibraOffice/OpenOffice/Firefox/Chrome or any other applications that use an embed version of Hunspell.

[2019-07-20 05:02] kevina commented on #229
Here is the list I think I am going to use: [list-one.txt](https://github.com/en-wl/wordlist/files/3413229/list-one.txt), it was derived from https://www2.census.gov/geo/docs/reference/ua/ua_list_ua.txt with some manual cleanups.

[2019-07-20 05:07] kevina commented on #229
The fact that I am very selective in adding words has been rehashed many times over.  A large word list can cause problems in that it can clutter the suggestion list and also mask more common words.  For example ["Stookey", a township in IL](https://en.wikipedia.org/wiki/Stookey_Township,_St._Clair_County,_Illinois) that barley makes the list is very close to the more common word "stocky".  See ht

[2019-07-20 08:25] kevina commented on #230
@marcoagpinto the dash `–` in a name at https://en.wikipedia.org/wiki/List_of_cities_in_Australia_by_population indicates _two_ towns combined into one area.  For example there is no Albury-Wodonga, there is Albury and Wodonga.  A quick google or Wikipedia search will verify this.

[2019-07-20 11:34] biljir commented on #233
I agree.

On Fri, Jul 19, 2019, at 9:31 PM, Kevin Atkinson wrote:

[2019-07-20 20:11] kevina commented on #248
I am not Canadian; however, according to my sources the preferred Canadian spelling is with a _ize_ not _ise_ in these words:

Are there some Canadians that prefer the _ise_ spelling?

I have the following marked as level 1 (common) variants:

They are excluded by default but included in the large dictionary or a custom one created by <http://app.aspell.net/create>.

I also _miniscule_ marked as a

[2019-07-20 20:12] kevina commented on #247
Thanks @biljir I think I will pass on these two words.

[2019-07-20 20:12] #247 closed

[2019-07-20 20:13] kevina commented on #251
Thanks @biljir.  I think for now I will just add _triaged_.

[2019-07-21 01:05] DaveJarvis commented on #248
Apparently just me! Toss them out.

This one is still widely regarded as an error, although it is appearing in publications. Toss it.

[2019-07-21 22:43] kevina commented on #252
I think I will pass on this one.  It is defined as a adj. and not a noun.  I personally have never seen this used in a programming context, but that could just be me.

[2019-07-21 22:43] #252 closed

[2019-07-21 22:44] kevina commented on #243
@biljir what do you think?  The word does appear to be in the dictionary: https://www.merriam-webster.com/dictionary/deterministically

[2019-07-21 22:44] kevina commented on #241
@biljir what do you think?

[2019-07-21 22:45] kevina commented on #240
Dupe of #243.

[2019-07-21 22:45] #240 closed

[2019-07-21 22:46] kevina commented on #226
@biljir what do you think?

[2019-07-21 22:48] biljir commented on #243
I think it's reasonable to include it.

On Sun, Jul 21, 2019, at 6:44 PM, Kevin Atkinson wrote:

[2019-07-21 22:49] biljir commented on #241
I'm pretty sure this piece of computer jargon has not escaped to the rest of the world. So I would vote No.

On Sun, Jul 21, 2019, at 6:44 PM, Kevin Atkinson wrote:

[2019-07-21 22:53] biljir commented on #252
For whatever it's worth, I have seen it. It's programming language jargon. But I support not adding it.

On Sun, Jul 21, 2019, at 6:43 PM, Kevin Atkinson wrote:

[2019-07-21 22:56] biljir commented on #226
I already responded to this one once. If you aren't aware of their use in a non-computing/software context, I'd say No.

On Sun, Jul 21, 2019, at 6:46 PM, Kevin Atkinson wrote:

[2019-07-21 22:57] kevina commented on #226
Yeah this is a dup of #220.  Sorry.  Closing

[2019-07-21 22:57] #226 closed

[2019-07-21 23:06] kevina commented on #248
@biljir do you care to comment on any of these words?

[2019-07-21 23:06] kevina commented on #216
@biljir do you care to comment on any of these words?

[2019-07-21 23:10] kevina commented on #215
@biljir what do you think about adding these.  I am included to include some of the more common ones as indicated by http://app.aspell.net/lookup-freq.

In particular the ones with `****`:
[code]

[2019-07-22 13:38] biljir commented on #215
As far as pharmaceuticals are concerned, I'm an ill-informed layman. Basically, I recognize those few drugs which I have been prescribed, and not the others. I have no reason to suppose that the ones I recognize are more common than the others.

I have no objections to including the ones you've identified in your chart. However, I have a couple of comments.

"digoxin" and "dioxin" are definitely t

[2019-07-22 14:01] biljir commented on #248
I have always been opposed to "birthdate". For all the user interfaces that insist on writing it as a single word, Google Books still shows the two-word form as dominating, and increasing its dominance as time goes on. Similarly, "timespan" is dominated by "time span", though in this case the dominance seem to be decreasing. Likewise, "spacetime" is dominated by "space-time".

It occurs to me it w

[2019-07-22 14:29] Meekohi commented on #229
Thanks @kevina -- I support using the US Census Urban Area as well. Here is the result of

`curl -s "https://www2.census.gov/geo/docs/reference/ua/ua_list_all.txt" | iconv -f iso8859-1 -t utf-8 | awk -F ',|(\ \ +)' '{ if(NR > 1 && $4 > 50000) {print $2} }' | sed $'s/--/\\\n/g' | sed 's/ County//g' | sort | uniq > urban_area.txt`

### [US Census Urban Areas over 50,000 population, split by `--` cha

[2019-07-22 14:30] Meekohi commented on #229
Would a version also split on spaces be more useful?

[2019-07-22 14:34] DaveJarvis commented on #248
Or an online form with a subject line, text area (for comma or line-separated words), and submit button that, upon submission, automatically opens a new GitHub issue.

[2019-07-22 14:37] biljir commented on #216
The word "felch" and its forms present an interesting issue. "felch" refers to a particular sex act that some people find disgusting or offensive. Further, it is one letter away from "filch", and might get suggested as a correction of a typo for "filch"

I do not know if there is a more technical word than "felch" for this act - if there is, I would expect scholarly (as opposed to prurient) usage

[2019-07-22 17:20] kevina commented on #248
@biljir keep in mind that this we are talking about the Canadian not the American version. It's exclusion is based on this entry in [VarCon](http://wordlist.aspell.net/varcon/):
[code]
However https://www.lexico.com/en/definition/leap has leaped as the more common variant.  I will investigate this more closely.

I don't have a tool to automatically reject words, but I do have two tools I use to gu

[2019-07-22 17:25] biljir commented on #248
Interestingly enough, I'm an American and use "leapt". Since I lived in a number of places in my early years, I have no idea where I picked it up, but presumably it was the standard form in one of the places I lived, or possibly I got it from one of my parents (who came from two very different parts of the country).

On Mon, Jul 22, 2019, at 1:20 PM, Kevin Atkinson wrote:

A Bv: leaped / Av B: lea

[2019-07-22 17:43] kevina commented on #229
No.  I may do some additional processing on the list to split them, but it needs to be done with care.  For example each place should take a possessive form, but that should only be added to the last part in most cases.

[2019-07-22 17:52] Meekohi commented on #229
Roger that -- let me know if there's anything else I can help with.

[2019-07-22 17:57] kevina commented on #215
@biljir

According to my chart:
[code]
_dioxin_ is already included and is 60% less popular (`0.6x`) than _digoxin_.  That being said I do not recognize either _digoxin_ or _dioxin_, but I am included to leave _digoxin_ out as _dioxin_ is already included, and for the reasons you already mentioned.

I am going to need to do some additional verification on the entire list before I consider includin

[2019-07-22 18:03] biljir commented on #215
Dioxins are well-known carcinogens and pollutants, and are not infrequently in the news for that reason. I have no familiarity with digoxin.

On Mon, Jul 22, 2019, at 1:58 PM, Kevin Atkinson wrote:

  dioxin             |      0.6x     0.7   38747 |    incl.    |    incl.
`

[2019-07-22 18:12] kevina commented on #215
Thanks I think I will leave _digoxin_ out then.

[2019-07-23 05:54] DaveJarvis commented on #248
Almost seven years ago to the day ... https://english.stackexchange.com/a/76168/22099

[2019-08-13 20:51] stuartpb commented on #216
I can think of at least one other common usage for "Majora"...

[![Majora's_Mask_Artwork](https://user-images.githubusercontent.com/572196/62976344-3b2b0380-bdd1-11e9-9553-5860656d2373.png)](https://en.wikipedia.org/wiki/The_Legend_of_Zelda:_Majora%27s_Mask)

[2019-08-16 11:31] R-a-l-f commented on #234
Should I report the bug against hunspell?

My apologies for the late reply, but while all settings are correct, I don't receive notifications from github anymore and there are even no mails in the provider's web-interface spam folder, let alone my MUAs' spam folders.

[2019-08-16 22:07] kevina commented on #234
Possibly.  Before you do try manually fixing `en_US.aff` change the line `SET UTF-8` to `SET ISO8859-1` and remove the two `ICONV` after which the first couple of lines of en_US.add should change form:
[code]
to
[code]

en_US.dic should be ASCII but to be safe you should also need to convert the dictionary back to ISO-8859-1 using:
[code]
Here is the commit that likely caused the problem: https://

[2019-08-17 22:24] ideasman42 opened #253 "Missing words (technical terms)"
These words I believe are correct spelling and should be part the default `aspell-en` package used on many systems.

- accessor
- adjugate
- breaked
- completers
- confusticate
- confusticated
- enqueue
- enqueued
- enqueues
- gimble
- parallelization
- parallelized
- performant
- polygonization
- prepend
- rasterize
- serializable
- tertiarily
- unary
- variadic
- vectorial

[2019-08-23 22:04] kevina commented on #122
I think this is only an issue when Hunspell does the tokenization.

I am also unsure of the correct setting for WORDCHARS.  It seams when I use `’`  `Kevin'` but `Kevin's` and `Kevin's` work but `Kevin’` does not which doesn't seam right.  Here are the results from various combinations.

[code]

[code]

[code]

[2019-09-25 02:16] #243 closed

[2019-09-25 02:16] #251 closed

[2019-09-25 02:16] #220 closed

[2019-09-25 02:16] #221 closed

[2019-09-25 02:16] #241 closed

[2019-09-25 06:52] kevina commented on #228
I do not see any normal nouns in `scowl/r/special/proper-names`

[2019-09-25 06:56] kevina commented on #217
I'll add computational the other two forms are a bit too obscure.

[2019-09-25 06:59] #217 closed

[2019-09-25 12:37] biljir commented on #228
Just wanted to note that some words are both non-proper nouns and proper nouns. This is a fact of life in English. And since any noun can be capitalized if it begins a sentence, capitalization, even frequent capitalization, is not entirely adequate as a distinguisher. "Closure" is an example of such an ambiguous word in the proper-name list referenced above.

If there are non-proper-names in this

[2019-09-25 18:17] kevina commented on #228
@biljir for reference here is the list in question: https://github.com/en-wl/wordlist/blob/master/scowl/r/special/proper-names